#set($layout = "/layout/layout2.vm")
#set($pageTitle = "title")
#set($JS = ["/js/jquery.form.min.js", "/js/page/sysOutlets/new-update.js"])
<div class="col-sm-12">
    <form action="/sysOutlets/save"  method="post" class="form-horizontal layui-form" id="newForm_sysOutlets">
        <div class="layui-form-item">
            <label for="userId" class="layui-form-label">用户id</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="userId" name="userId" value="$!{param.userId}" >
            </div>
        </div>    
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">门店名</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="name" name="name" value="$!{param.name}" >
            </div>
        </div>    
        <div class="layui-form-item">
            <label for="address" class="layui-form-label">地址</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="address" name="address" value="$!{param.address}" >
            </div>
        </div>      
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-primary btn-close">关闭</button>
                <button type="submit" class="layui-btn layui-btn-normal">提交</button>
            </div>
        </div>
    </form>
</div>
</div>