<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:c="http://www.springframework.org/schema/c" xmlns:util="http://www.springframework.org/schema/util" 
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd"
	default-autowire="byName">
	
	<!--&lt;!&ndash; 定义跳转的文件的前后缀 ，视图模式配置&ndash;&gt;-->
	<!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
		<!--<property name="prefix" value="/WEB-INF/template/"/>-->
		<!--<property name="suffix" value=".jsp"/>-->
	<!--</bean>-->
	<!-- 启用AOP支持 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<!--, split-->
	<context:component-scan base-package="com.keyou.fdcda.app.service.impl">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!--url地址配置-->
	<bean id="staticUrlConfig" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="file:/opt/config/urlConfig.properties"/>
	</bean>
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
		<property name="properties" ref="staticUrlConfig" />
	</bean>
	<bean id="urlConfig" class="com.keyou.fdcda.api.utils.config.UrlConfig"/>
	

	<!-- 配置velocity引擎 -->
	<bean id="velocityConfigurer"
		  class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath" value="/WEB-INF/template" /><!-- 模板存放的路径 -->
		<property name="configLocation" value="classpath:config/velocity.properties" />
	</bean>

	<!-- 配置视图的显示 -->
	<bean id="ViewResolver" class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
		<property name="cache" value="false"/>
		<property name="prefix" value="/" /><!-- 视图文件的前缀，即存放的路径 -->
		<property name="suffix" value=".vm" /><!-- 视图文件的后缀名 -->
		<property name="toolboxConfigLocation" value="/WEB-INF/toolbox.xml" /><!--toolbox配置文件路径-->
		<property name="dateToolAttribute" value="date" /><!--日期函数名称-->
		<property name="numberToolAttribute" value="number" /><!--数字函数名称-->
		<property name="contentType" value="text/html;charset=UTF-8" />
		<property name="exposeSpringMacroHelpers" value="true" /><!--是否使用spring对宏定义的支持-->
		<property name="exposeRequestAttributes" value="true" /><!--是否开放request属性-->
		<property name="requestContextAttribute" value="rc"/><!--request属性引用名称-->
		<property name="layoutUrl" value="layout/default.vm"/><!--指定layout文件-->
	</bean>

</beans>