 
 
#set($JS = ["/js/echarts.js"])
#set($page_title = "国际商贸城人脸识别大数据平台")
 
      <div class="yw_buyerContainer">
	    <div class="yw_breadcrumb">
		        当前位置：<a href="javascript:;">$!{currentPosStr}</a>
	    </div>
         <!--Search-->
        <div class="yw_searchBar">
            <form class="form-inline" id="visitorForm">
                <div class="yw_formGroups">
                    <div class="form-group">
                        <label for="mobile">手机号：</label>
                        <input type="text" class="form-control" id="mobile" name="mobile">
                    </div>
                    <div class="form-group ml-10 mr-10">
	                    <label for="visitorName">姓名：</label>
	                    <input type="text" class="form-control" id="visitorName" name="visitorName">
                    </div>
                </div>
                <div class="yw_formGroups">
                    <div class="form-group">
                        <label >到访日期：</label>
                        <input type="text" class="form-control" name="startTime" id="startTime" readonly size="16">
                    </div>
                   
                    <button type="submit" class="layui-btn layui-btn-normal ml-20">查 询</button>
                </div>
            </form>
        </div>
         <div id="detail" style="width: 800px;height:400px;"></div>
        <div id="main" style="width: 800px;height:400px;"></div>
        <script>
        var myChart = echarts.init(document.getElementById('detail'));
        var xAxisArr = new Array();
        var seriesArr = new Array();
        #foreach($row in $lineData)
           xAxisArr.push('$!{row.visitDayStr}');
           seriesArr.push('$!{row.visitCount}');
        #end
        
        
        var option = {
		    title: {
		        text: '$!{lineText}'
		    },
		    tooltip: {
		        trigger: 'axis'
		    },
		    legend: {
		        data:['当日访问']
		    },
		    grid: {
		        left: '3%',
		        right: '4%',
		        bottom: '3%',
		        containLabel: true
		    },
		    toolbox: {
		        feature: {
		            saveAsImage: {}
		        }
		    },
		    xAxis: {
		        type: 'category',
		        boundaryGap: false,
		        data: xAxisArr
		    },
		    yAxis: {
		        type: 'value'
		    },
		    series: [
		        {
		            name:'当日访问数',
		            type:'line',
		            stack: '总量',
		            data:seriesArr
		        } 
		    ]
		};
		
	    var myChart2 = echarts.init(document.getElementById('main'));
		
	    var legendArr = new Array();
        var seriesArr2 = new Array();
        #foreach($row in $lineData)
           xAxisArr.push('$!{row.visitStr}');
           var obj = new Object();
           obj.value = '$!{row.visitCount}';
           obj.name = '$!{row.visitStr}';
           seriesArr2.push(obj);
        #end
		
		var option2 = {
		    title : {
		        text: '$!{bingTitle}',
		        subtext: '',
		        x:'center'
		    },
		    tooltip : {
		        trigger: 'item',
		        formatter: "{a} <br/>{b} : {c} ({d}%)"
		    },
		    legend: {
		        orient: 'vertical',
		        left: 'left',
		        data: legendArr
		    },
		    series : [
		        {
		            name: '访问来源',
		            type: 'pie',
		            radius : '55%',
		            center: ['50%', '60%'],
		            data:seriesArr2,
		            itemStyle: {
		                emphasis: {
		                    shadowBlur: 10,
		                    shadowOffsetX: 0,
		                    shadowColor: 'rgba(0, 0, 0, 0.5)'
		                }
		            }
		        }
		    ]
		};
				
		
		 // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        myChart2.setOption(option2);
        </script>
  </div>