#*分页*#

#macro(pagination $pageResult $pageRequestURL $dispType)
    #if ($pageResult && $pageResult.pageSize > 1)
    #* 当前页 *#
        #set($curPageNum = $pageResult.curPageNum)

    #* 总的页数 *#
        #set($pages = $pageResult.pageSize)

    #* 相邻的页数 *#
        #set($paging_near_steps = 11)

    #* 上一页 *#
        #set($dispPrePage='<i class="icon-double-angle-left">上一页</i>')
        #set($dispPrePageDis='<i class="icon-double-angle-left">上一页</i>')

    #* 下一页 *#
        #set($dispNextPage='<i class="icon-double-angle-right">下一页</i>')
        #set($dispNextPageDis='<i class="icon-double-angle-right">下一页</i>')

    <li class="page-count"><span>共${pageResult.rowCount}条</span></li>
    #* 上一页控制 *#
        #if (1 != $curPageNum)
            #set($prePageIndex = $curPageNum - 1)
        #* 可点 *#
            #checkClickable($prePageIndex $dispPrePage 1 $pageRequestURL $dispType)
        #else
        #* 不可点 *#
            #checkClickable("" $dispPrePageDis 0 $pageRequestURL "other")
        #end

    #* 相邻页面 *#
        #set($avg = $paging_near_steps / 2)
        #set($startPageNumber = $curPageNum - $avg)
        #if($startPageNumber <= 0)
            #set($startPageNumber = 1)
        #end
        #set($endPageNumber = $startPageNumber + $paging_near_steps - 1)
        #if($endPageNumber > $pages)
            #set($endPageNumber = $pages)
        #end
        #if($endPageNumber - $startPageNumber < $paging_near_steps)
            #set($startPageNumber = $endPageNumber - $paging_near_steps)
            #if($startPageNumber <= 0 )
                #set($startPageNumber = 1)
            #end
        #end

        #if($startPageNumber>2)
            #checkClickable("1" 1  1	$pageRequestURL $dispType)
        #end
        #foreach($page_index in [$startPageNumber..$endPageNumber])
            #if($page_index==0)
            <span>...</span>
            #else
                #if($page_index==$curPageNum)
                    #checkClickable("" $page_index 0	$pageRequestURL $dispType)
                #else
                    #checkClickable($page_index $page_index 1	$pageRequestURL $dispType)
                #end
            #end
        #end

        #if($endPageNumber!=$pages)
            #checkClickable($pages $pages  1	$pageRequestURL $dispType)
        #end

    #* 下一页控制 *#
        #if($pages != $curPageNum)
        #* 可点 *#
            #set($nextPageIndex=$curPageNum + 1)
            #checkClickable($nextPageIndex $dispNextPage 1 $pageRequestURL $dispType)
        #* 不可点 *#
        #else
            #checkClickable("" $dispNextPageDis 0 $pageRequestURL "other")
        #end
    #end
#end








#macro(checkClickable $pageIndex $pageDisp $clickable $pageRequestURL $dispType)
    #set($pageRequestURLFix = $pageRequestURL.replaceAll("\[PAGINATION_PAGE_INDEX\]", "$pageIndex"))
    #if($dispType == "normal")
        #if($clickable == 1)
        <li><a href="${pageRequestURLFix}">${pageDisp}</a></li>
        #else
            #if(${curPageNum} == ${pageIndex})
            <li class="active"><span>${pageDisp}</span></li>
            #else
            <li class="active"><a href="javascript:;">${pageDisp}</a></li>
            #end
        #end
    #else
        #if($clickable == 1)
        <li><a href="#" class="j a_page_num" pageNum="$pageIndex">${pageDisp}</a></li>
        #else
            #if(${curPageNum} == $pageIndex)
            <li class=""><span>${pageDisp}</span></li>
            #else
            <li class="disabled"><span>${pageDisp}</span></li>
            #end
        #end
    #end
#end




#macro(paginationHelper	$pageResult $pageRequestURL)
    #pagination($pageResult $pageRequestURL "normal")
#end


#macro( getErrorCode $objectName $field)
    #set($errors = $springMacroRequestContext.getErrors($objectName)) #if(0==$errors.fieldErrors.size() && ""=="$!field")#foreach($e in $errors.allErrors)$e.defaultMessage#end#end #if($errors && $errors.fieldErrors && $errors.fieldErrors.size()>0)#foreach($e in $errors.fieldErrors)#if("$!field"=="$e.field")$e.defaultMessage#end#end#end
#end

#macro( Pattern $objectName $field $message)
    #if("#getErrorCode($objectName,$field)"=="Pattern")
        $!message
    #end
#end
#macro( NotNull $objectName $field $message)
    #if("#getErrorCode($objectName,$field)"=="NotNull")
        $!message
    #end
#end
#macro( Size $objectName $field $message)
    #if("#getErrorCode($objectName,$field)"=="Size")
        $!message
    #end
#end
