###set($layout = "/layout/layout2.vm")
#set($pageTitle = "title")
#set($JS = ["/js/jquery.form.min.js", "/js/page/customerInfo/new-update.js"])
<div class="yw_buyerContainer">
<div class="yw_breadcrumb">
    当前位置：<a href="javascript:;">$!{currentPosStr}</a>
</div>
<div class="yw_box">
    <input type="hidden" name="id" value="$!{param.id}" />
    <div class="yw_visitorDetails">
        <p class="yw_visitorDetails__thumb">
            <img src="$!{param.imageUrl}" alt="">
        </p>
        <div class="yw_visitorDetails__content">
            <p><b>姓名：</b>$!{blacklistDetails.name}</p>
            <p><b>口音：</b>$!{blacklistDetails.accent}</p>
            <p><b>手机号码：</b>$!{blacklistDetails.phone}</p>
            <p><b>性别：</b>$!{blacklistDetails.sex}</p>
            <p><b>出生日期：</b>$!{blacklistDetails.birthday}</p>
            <p><b>身高：</b>$!{blacklistDetails.height}cm</p>
            <p><b>曾用名：</b>$!{blacklistDetails.exname}</p>
            <p><b>地址：</b>$!{blacklistDetails.address}</p>
            <p><b>证件号：</b>$!{blacklistDetails.idp}</p>
            <p><b>举报电话：</b>$!{blacklistDetails.reporttel}</p>
            <p><b>奖励：</b>$!{blacklistDetails.reward}</p>
            <p><b>案由：</b>$!{blacklistDetails.cases}</p>
            <p><b>浏览次数：</b>$!{blacklistDetails.views}</p>
            <p><b>黑名单类型：</b>#if($!{blacklistDetails.blacklistType} == 0)在逃人员#elseif($!{blacklistDetails.blacklistType} == 1)外贸公司逃逸#end</p>
            <p><b>逃逸通告标题：</b>$!{blacklistDetails.noticetitle}</p>
            <p><b>公司名：</b>$!{blacklistDetails.companyname}</p>
            <p><b>公司地址：</b>$!{blacklistDetails.companyaddress}</p>
            <p><b>逃逸时间：</b>$!{blacklistDetails.escapedate}</p>
            <p><b>涉及金额：</b>$!{blacklistDetails.amount}元</p>
            <p><b>受害人数：</b>$!{blacklistDetails.victims}</p>
            <p><b>通告内容：</b>$!{blacklistDetails.noticecontent}</p>
            <p><b>通告类型：</b>#if($!{blacklistDetails.escapetype} == 1)外贸公司#elseif($!{blacklistDetails.escapetype} == 2)采购商#elseif($!{blacklistDetails.escapetype} == 3)供应商#end</p>
            <p><b>注册号类型：</b>#if($!{blacklistDetails.regtype} == 0)工商注册号#elseif($!{blacklistDetails.regtype} == 1)社会信用代码#end</p>
            <p><b>注册号：</b>$!{blacklistDetails.regid}</p>
            <p><b>更新时间：</b>$!{blacklistDetails.updatetime}</p>
            <p><b>经营主体类型：</b>#if($!{blacklistDetails.entitytype} == 1)公司#elseif($!{blacklistDetails.entitytype} == 2)个人#end</p>
        </div>
    </div>
##        <!--信用评价-->
##        <div class="yw_evaluate mt-20">
##            <form  class="yw_evaluate__form">
##                <span>信用评价：</span>
##                <label class="radio-inline">
##                    <input type="radio" name="evaluateRadio"  value="0" checked> 全部
##                </label>
##                <label class="radio-inline">
##                    <input type="radio" name="evaluateRadio"  value="1"> 好评
##                </label>
##                <label class="radio-inline">
##                    <input type="radio" name="evaluateRadio" value="2"> 中评
##                </label>
##                <label class="radio-inline">
##                    <input type="radio" name="evaluateRadio" value="3"> 差评
##                </label>
##            </form>
##        </div>
##        <ul class="yw_evaluateItem">
##            <li class="yw_evaluateItem__list">
##                <div class="yw_evaluateItem__list__bar">
##                    <div class="yw_evaluateMsg">
##                        <p>工作热情，人品端正、德行优良、自身修养较高、对待客户诚信;对待工作严谨、处处为公司考虑，
##                            能够虚心接受同事给予的建议并改正;学习进步较快、受到大多数客户的好评。</p>
##                        <p>
##                            <img src="images/thumb3.jpg" alt="">
##                            <img src="images/thumb3.jpg" alt="">
##                        </p>
##                    </div>
##                    <div class="yw_evaluateID">
##                        <p>蔡**</p>
##                        <p>2017.08.21</p>
##                    </div>
##                </div>
##            </li>
##            <li class="yw_evaluateItem__list">
##                <div class="yw_evaluateItem__list__bar">
##                    <div class="yw_evaluateMsg">
##                        工作热情，人品端正、德行优良、自身修养较高、对待客户诚信;对待工作严谨、处处为公司考虑，
##                        能够虚心接受同事给予的建议并改正;学习进步较快、受到大多数客户的好评。
##                    </div>
##                    <div class="yw_evaluateID">
##                        <p>蔡**</p>
##                        <p>2017.08.21</p>
##                    </div>
##                </div>
##            </li>
##            <li class="yw_evaluateItem__list">
##                <div class="yw_evaluateItem__list__bar">
##                    <div class="yw_evaluateMsg">
##                        工作热情，人品端正、德行优良、自身修养较高、对待客户诚信;对待工作严谨、处处为公司考虑，
##                        能够虚心接受同事给予的建议并改正;学习进步较快、受到大多数客户的好评。
##                    </div>
##                    <div class="yw_evaluateID">
##                        <p>蔡**</p>
##                        <p>2017.08.21</p>
##                    </div>
##                </div>
##            </li>
##        </ul>

    <div class="layui-form-item">
        <div class="layui-input-block" align = "right">
            <button class="layui-btn layui-btn-normal" onclick="history.back(-1)">返回</button>
        </div>
    </div>
</div>
</div>