#set($JS = ["/js/page/blackList/system/list.js"])
<div class="yw_buyerContainer">
    <div class="yw_breadcrumb">
        当前位置：<a href="javascript:;">$!{currentPosStr}</a>
    </div>
    <div class="page-content">
    <div class="yw_searchBar yw_searchBar-buyer">
        <form class="form-inline ml-20 mr-20" id="buyerForm">
            <div>
                <div class="yw_formGroups">
                    <div class="form-group ">
                        <label for="visitorName">姓名：</label>
                        <input type="text" class="form-control" id="nameStr" name="nameStr" value="$!{query.nameStr}" size="10">
                    </div>
                    <div class="form-group ml-10 mr-10">
                        <label for="mobile">手机号：</label>
                        <input type="text" class="form-control" id="phoneStr" name="phoneStr" value="$!{query.phoneStr}" size="20">
                    </div>
                    <div class="form-group ">
                        <label for="cardStr">身份证：</label>
                        <input type="text" class="form-control" id="cardStr" name="cardStr" value="$!{query.cardStr}" size="30">
                    </div>
                </div>
                <div class="yw_formGroups ml-30">
                    <button type="submit" class="layui-btn layui-btn-normal ml-20"> 查 询</button>
                ##                    <button type="button" class="layui-btn layui-btn-primary ml-10 btn-add j_new-btn">添 加</button>
                </div>
            </div>
        </form>
    </div>

    <table class="layui-hide" id="test" lay-filter="demo"></table>
    <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
##        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
        ##            <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="add">添加</a>
##        <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="rmblack">移除黑名单</a>
##        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="sysblack">添加系统黑名单</a>
    </script>
    <script type="text/html" id="genderId">
        {{# if(d.gender == 0) {}}男{{#}}}
        {{# if(d.gender == 1) {}}女{{#}}}
    </script>
    
    </div><!-- /.page-content -->
</div><!-- /.main-content -->