<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/upload/img/favicon.ico" />
    <!--Layui-->
    <link href="/js/layui/css/layui.css" rel="stylesheet">

    <!--common-->
    <link href="/css/style.css" rel="stylesheet">

    <script src="/js/common.js"></script>
    <script src="/js/layui/layui.js"></script>

    <script src="/js/custom.js"></script>

    
##    <script src="/js/jquery.min.js" type="application/javascript"></script>
##    <script src="/js/jquery.md5.js" type="application/javascript"></script>
##    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
##    <script src="/bootstrap/js/bootstrap.min.js"></script>

##    cdn加速 http://www.bootcdn.cn
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jsencrypt/2.3.1/jsencrypt.min.js"></script>
##    <script src="https://cdn.bootcss.com/blueimp-md5/2.8.0/js/md5.min.js"></script>

    <link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
    
##    <link href="https://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
##    <script src="https://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jQuery-Paging/1.2.0/jquery.paging.min.js"></script>

    <link href="https://cdn.bootcss.com/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>

##    <script src="https://cdn.bootcss.com/select2/4.0.3/js/i18n/zh-CN.js"></script>
    <script src="https://cdn.bootcss.com/select2/4.0.3/js/select2.min.js"></script>
    <link href="https://cdn.bootcss.com/select2/4.0.3/css/select2.min.css" rel="stylesheet">
##    <script src="https://cdn.bootcss.com/require.js/2.3.5/require.min.js"></script>
##    <link href="/css/jquery-ui.css" rel="stylesheet">
##    <script src="/js/jquery-ui.js"></script>

    <link rel="stylesheet" href="/css/global.css?v=20170939">
    
    #if($!{CSS})
        #foreach($_css in ${CSS})
            <link type="text/css" rel="stylesheet" href="${_css}">
        #end
    #end
##    <script>
##        bootstrapButton   = $.fn.button.noConflict();
##        $.fn.bootstrapBtn = bootstrapButton;
##    </script>
    #if($!JS)
        #foreach($_js in $JS)
            <script type="text/javascript" src="${_js}"></script>
        #end
    #end
    
    <title>$!{page_title}</title>

</head>

<body class="main_bg">
    #if(${user.id})
    <div class="wapper">
        <div class="header">
            #parse("/widget/header.vm")
        </div>
            #if(${user.id})
                <!--Menu-->
                <nav class="yw_navbar clearfix">
                    <ul class="yw_menu">
                        #foreach($item in $topResourceList)
                            <li class="yw_menu__list">
                                <a href="$!{item.url}" #if (${item.id} == $!{current_top_id}) class="active" #end>${item.name}</a>
                            </li>
                        #end
                    </ul>
                    <div class="yw_settings">
                        <img src="/upload/img/icon_setting.png" class="img-responsive inline-block v-middle" width="22" alt="">
                        <span class="inline-block v-middle ml-5">设置</span>
                        <img src="/upload/img/icon_triangle.png" class="img-responsive inline-block v-middle ml-5" width="10" alt="">
                    </div>
                </nav>
            <div class="yw_main">
                #parse("/widget/frame.vm")
                <!--Buyer Container-->
                    $screen_content
                #end
            </div>
        </div>
        <div class="footer">
            #parse("/widget/footer.vm")
        </div>
#else
    <div>
        $screen_content
    </div>
#end
</body>
</html>