#set($layout = "/layout/layout2.vm")
#set($pageTitle = "title")
#set($JS = ["/js/jquery.form.min.js", "/js/page/sysUser/new-update.js"])
<div class="col-sm-12">
    <form action="/sysUser/save"  method="post" class="form-horizontal" id="newForm_sysUser">
        <div class="form-group">
            <label for="loginname" class="col-sm-2 control-label">登录名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="loginname" name="loginname" value="$!{param.loginname}" >
            </div>
        </div>    
        <div class="form-group">
            <label for="loginpwd" class="col-sm-2 control-label">登录密码</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="loginpwd" name="loginpwd" value="$!{param.loginpwd}" 
                placeholder="不填则产生随机密码" onfocus="this.type='password'">
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" name="username" value="$!{param.username}" >
            </div>
        </div>    
        <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">手机号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="phone" name="phone" value="$!{param.phone}" >
            </div>
        </div>    
        <div class="form-group">
            <label for="telephone" class="col-sm-2 control-label">固定电话</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="telephone" name="telephone" value="$!{param.telephone}" >
            </div>
        </div>    
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">邮件地址</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="email" name="email" value="$!{param.email}" >
            </div>
        </div>    
        <div class="form-group">
            <label for="address" class="col-sm-2 control-label">地址</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="address" name="address" value="$!{param.address}" >
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">角色</label>
            <div class="col-sm-10">
                #foreach($item in $roleinfoList)
                    <div class="col-sm-12">
                        <input type="checkbox" name="roleId" value="${item.roleId}">${item.roleName}
                    </div>
                #end
            </div>
        </div>
        <div class="form-group" align="right">
            <div class="col-sm-12">
                <label class="control-label">(注册成功后会将用户名密码以短信形式发送给用户)&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <button type="button" class="btn btn-default btn-close">关闭</button>
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </div>
    </form>
</div>