#set($JS = ["/js/page/orderInfo/list.js"])
<div class="yw_buyerContainer">
    <div class="yw_breadcrumb">
        当前位置：<a href="javascript:;">$!{currentPosStr}</a>
    </div>
	<div class="page-content">
        <div class="yw_searchBar yw_searchBar-buyer">
            <form class="form-inline ml-20 mr-20" id="buyerForm">
                <div>
                    <div class="yw_formGroups ml-30">
                        <button type="button" class="layui-btn layui-btn-primary ml-10 btn-add j_new-btn">添 加</button>
                    </div>
                </div>
            </form>
        </div>
        <table class="layui-hide" id="test" lay-filter="demo"></table>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
        </script>

        <script type="text/html" id="payType">
            {{# if(d.payType == 1) {}}现金{{#}}}
            {{# if(d.payType == 2) {}}银行卡{{#}}}
            {{# if(d.payType == 3) {}}支付宝{{#}}}
            {{# if(d.payType == 4) {}}微信{{#}}}
        </script>
        <script type="text/html" id="status">
            {{# if(d.status == 1) {}}未付款{{#}}}
            {{# if(d.status == 2) {}}已付款{{#}}}
            {{# if(d.status == 3) {}}待收尾款{{#}}}
        </script>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->