###set($layout = "/layout/layout2.vm")
#set($pageTitle = "title")
#set($JS = ["/js/jquery.form.min.js", "/js/page/orderInfo/new-update.js" ,"/js/webuploader/webuploader.min.js"])
#set($CSS = ["/js/webuploader/webuploader.css"])
<div class="yw_buyerContainer">
    <div class="yw_breadcrumb">
        当前位置：<a href="javascript:;">$!{currentPosStr}</a>
    </div>
    <div class="yw_box">
        <form class="layui-form jc-form" action="/order/save" id="new_tradeForm">
            <div class="imgUpload">
                <p id="fileList" class="imgUpload__thumb text-center uploader-list">

                </p>
##                <div class="mt-10 text-center">
##                    <div id="filePicker">选择图片</div>
##                </div>
            </div>
            <div class="jc-form-items clearfix">
                <div class="layui-form-item fl">
                    <label class="layui-form-label">手机号码</label>
                    <div class="layui-input-block">
                        <input id="customerPhone" type="text"  name="customerPhone"  class="layui-input" size="25" placeholder="请输入完整手机号">
                    </div>
                </div>
                <div class="layui-form-item fl ml-30">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-block">
                        <input id="customerName" type="text"  name="customerName"  class="layui-input" size="24" readonly>
                    </div>
                </div>
            </div>
            <div class="jc-form-items clearfix">
                <div class="layui-form-item fl">
                    <label class="layui-form-label">交易金额</label>
                    <div class="layui-input-block">
                        <input type="text" name="orderAmt"  class="layui-input" size="25">
                    </div>
                </div>
                <div class="layui-form-item fl ml-30">
                    <label class="layui-form-label">交易状态</label>
                    <div class="layui-input-block width-full">
                        <select name="status">
                            <option value="1">未付款</option>
                            <option value="2">已付款</option>
                            <option value="3">待收尾款</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="jc-form-items clearfix">
                <div class="layui-form-item fl">
                    <label class="layui-form-label">交货日期</label>
                    <div class="layui-input-block">
                        <input type="text"  name="goodDateStr" id="delivery_date"  class="layui-input" size="25">
                    </div>
                </div>
                <div class="layui-form-item fl ml-30">
                    <label class="layui-form-label">付款方式</label>
                    <div class="layui-input-block width-full">
                        <select name="payType">
                            <option value="1">现金</option>
                            <option value="2">银行卡</option>
                            <option value="3">支付宝</option>
                            <option value="4">微信</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="jc-form-items">
                <div class="layui-form-item">
                    <label class="layui-form-label">交易详情</label>
                    <div class="layui-input-block">
                        <input type="text"  name="orderContent"  class="layui-input" size="59">
                    </div>
                </div>
            </div>
            <div class="jc-form-items">
                <div class="layui-form-item">
                    <label class="layui-form-label">所属单位</label>
                    <div class="layui-input-block">
                        <input id="buyer_company" type="text"  name="buyer_company"  class="layui-input" size="59" readonly>
                    </div>
                </div>
            </div>
            <div class="jc-form-items">
                <div class="layui-form-item">
                    <label class="layui-form-label">收货地址</label>
                    <div class="layui-input-block">
                        <input type="text"  name="toaddress"  class="layui-input" size="59">
                    </div>
                </div>
            </div>
##
##            <div class="jc-form-items">
##                <div class="layui-form-item">
##                    <label class="layui-form-label">评价</label>
##                    <div class="layui-input-block">
##                        <input type="radio" name="buyer_evaluate" value="0" title="好评" checked>
##                        <input type="radio" name="buyer_evaluate" value="1" title="中评">
##                        <input type="radio" name="buyer_evaluate" value="2" title="差评" >
##                    </div>
##                </div>
##            </div>
##
##            <div class="jc-form-items">
##                <div class="layui-form-item layui-form-text">
##                    <div class="layui-input-block">
##                        <textarea placeholder="请输入内容" rows="3" cols="57" class="layui-textarea"></textarea>
##                    </div>
##                </div>
##            </div>

            <div class="jc-form-items">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" class="layui-btn layui-btn-normal" >添 加</button>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>
<script>
    layui.use(['laydate', 'form'], function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#delivery_date' //指定元素
            ,value: new Date()
        });

        // 初始化Web Uploader
        var uploader = WebUploader.create({
            // 选完文件后，是否自动上传。
            auto: false,
            // swf文件路径
            swf:  './js/webuploader/Uploader.swf',
            // 文件接收服务端。
            server: 'http://webuploader.duapp.com/server/fileupload.php',
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: {
                id: '#filePicker',
                multiple: false
            },
            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });

        // 当有文件添加进来的时候
        uploader.on( 'fileQueued', function( file ) {
            var $li = $(
                    '<div id="' + file.id + '" >' +
                    '<img>' +
                    // '<div class="info">' + file.name + '</div>' +
                    '</div>'
            ),
                $img = $li.find('img');

            // $list为容器jQuery实例
            $('#fileList').html( $li );

            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            var thumbnailWidth = 155, thumbnailHeight=208;
            uploader.makeThumb( file, function( error, src ) {
                if ( error ) {
                        $img.replaceWith('<span>不能预览</span>');
                    return;
                }
                    $img.attr( 'src', src );
            }, thumbnailWidth, thumbnailHeight );
        });


        function tip(msg, reload) {
            layer.msg(msg,{time:1000},function () {
                if (reload) {
                    window.location.reload();
                }
            });
        }
        
        $("#customerPhone").on('input',function()
        {
            var phone = $("#customerPhone").val();
            if (phone.length == 11) {
                $.ajax({
                    url: '/order/findCustomer',
                    data: {'phone': phone},
                    async: false,
                    success: function (data) {
                        if (data.success) {
                            $('#customerName').val(data.data.name);
                            $('#buyer_company').val(data.data.companyName);
                            if (data.data.imageUrl != '') {
                                var img = '<img src="'+data.data.imageUrl+'"  width="155" height="208">';
                                $('.imgUpload__thumb').html(img);
                            }
                        } else {
                            tip(data.message, false);
                            $('#customerName').val('');
                            $('#buyer_company').val('');
                            var img = '<img src="/upload/img/icon_avatar.png"  width="155" height="208">';
                            $('.imgUpload__thumb').html(img);
                        }
                    }
                });
            } else {
                $('#customerName').val('');
                $('#buyer_company').val('');
                var img = '';
                $('.imgUpload__thumb').html(img);
            }
        });

        $("#new_tradeForm").ajaxForm({
            success: function (data) {
                if (data.success) {
                    // layer.close(layer.index);
                    tip(data.message, false);
                    window.location.href = "/order";
                } else {
                    tip(data.message, false);
                }
            }
        });
    });


</script>