#set($JS = ["/js/page/sysRole/list.js"])
<div class="yw_buyerContainer">
    <div class="yw_breadcrumb">
        当前位置：<a href="javascript:;">$!{currentPosStr}</a>
    </div>
	<div class="page-content">
        <div class="sc-where-bar">
            <div class="col-sm-11">
##                <form class="form-inline" role="form">
##                    <div class="form-group">
##                        <input type="text" class="form-control" name="vcName" value="$!{query.vcName}">
##                    </div>
##                    <div class="form-group">
##                        <div class="col-sm-12">
##                            <button class="btn btn-primary btn-search" type="submit">查询</button>
##                        </div>
##                    </div>
##                </form>
            </div>
            <div class="col-sm-1 text-right">
                <a href="#" class="layui-btn layui-btn-primary ml-10 btn-add j_new-btn">添加</a>
            </div>
        </div>

        <table class="layui-hide" id="test" lay-filter="demo"></table>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
##        <div id="newUpdateDialogFrame" class="tipDialogFrame"></div>
##        <div id="tipDialogFrame" class="tipDialogFrame"></div>
##
##	        <table class="table table-striped table-bordered table-hover dataTable">
##	            <thead>
##	            <tr>
##	                <th>ID</th>
##	                <th>角色名称</th>
##	                <th>创建时间</th>
##	             
##	                <th class="action-cl">操作</th>
##	               
##	            </tr>
##	            </thead>
##	            <tbody>
##	                #foreach($row in $result.rows)
##	                <tr>
##	                	<td> $!{row.id} </td>
##	                	<td> $!{row.name} </td>
##	                	<td> $!{row.createTimeStr} </td>
##		                <td class="action-cl">
##	                    	<a href="#" class="j_update-btn" data-id="$!{row.id}">修改</a>
##                            <span class="arr">|</span>
##                            <a href="#" class="j_delete-btn" data-id="$!{row.id}">删除</a>
##	                    </td>
##	                </tr>
##	                #end
##	            </tbody>
##	       	</table>
##			<div id="dialog-confirm" title="删除" class="pop-con-tip" style="display: none;">
##				确认删除？
##			</div>
##	        <div class="dataTables_wrapper f-mt2">
##	            <ul class="pagination">
##	           		#set($pageRequestURL="$!{www}/sysRole?pageIndex=[PAGINATION_PAGE_INDEX]#if($!{result.queryParameters})&$!{result.queryParameters}#end") #paginationHelper($result $pageRequestURL)
##	            </ul>
##            </div>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->