#set($layout = "/layout/layout2.vm")
#set($pageTitle = "title")
#set($JS = ["/js/page/sysRole/new-update.js", "/js/jquery.form.min.js"])
<div class="col-sm-12">
    <form action="/sysRole/save"  method="post" class="form-horizontal layui-form" id="newForm_sysRole">
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">角色名称</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="name" name="name" value="$!{param.name}" >
            </div>
        </div>     
        <div class="layui-form-item" align="right">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-primary btn-close">关闭</button>
                <button type="submit" class="layui-btn layui-btn-normal">提交</button>
            </div>
        </div>
    </form>
</div>