###set($layout = "/templates/layout/layout.vm")
###set($CSS = ["scripts/css/index.css"])
###set($JS = ["scripts/js/jquery-1.11.3.js"])
#set($page_title = "国际商贸城人脸识别大数据平台")
##<script src="https://cdn.bootcss.com/jsencrypt/2.3.1/jsencrypt.min.js"></script>
<script src="/js/jquery.md5.js"></script>
<script src="https://cdn.bootcss.com/js-sha512/0.4.0/sha512.min.js"></script>
##<script src="https://cdn.bootcss.com/cryptico/0.0.1343522940/cryptico.min.js"></script>



<div class="yw_loginBg">

    <div class="yw_login">
        <h1 class="yw_login__headline">国际商贸城人脸识别大数据平台</h1>
        <h2 class="yw_login__title">商城登录</h2>
        <input type="hidden" id="token" value="${token}">
        <div class="yw_login__content">
            <form class="form-horizontal" id="login-form" method="GET" action="/login/confirm">
                <div class="form-group" id="d-phone" data-toggle="tooltip">
                    <label for="phone" class="col-sm-2 control-label f-16">账 号</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="请输入手机号或登录名">
                    </div>
                </div>
                <div class="form-group mt-30" id="d-password" data-toggle="tooltip">
                    <label for="password" class="col-sm-2 control-label f-16">密 码</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password" >
                    </div>
                </div>
                #if (${validateCodeRequire})
                    <div class="form-group mt-30" id="d-validateCode" data-toggle="tooltip">
                        <label for="validateCode" class="col-sm-2 control-label">验证码</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="validateCode" name="validateCode"
                                   placeholder="请输入图片验证码">
                        </div>
                        <div class="col-sm-3">
                            <img id="validateCodeImg" onclick="changeCode();">
                        </div>
                    </div>
                #end
                <div class="form-group mt-30">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="layui-btn layui-btn-normal yw_btn login-btn">登 录</button>
                        <a href="javascript:;" class="btn btn-link">忘记密码</a>
                    </div>
                </div>
            </form>
            <div id="dlg"></div>
        </div>
    </div>
</div>


##
##<div class="login_pane">
##    <div class="panel col-sm-offset-3 col-sm-6" style="width: 500px;margin-left: auto;margin-right: auto;" align="center">
##        <div class="panel-heading" style="margin-top: 15px; margin-bottom: 20px;">
##            <div class="panel-title">
##                <div class="col-sm-12">登录</div>
##            </div>
##        </div>
##        <div id="main-show" class="panel-body" style="padding-top:10px;">
##            <input type="hidden" id="token" value="${token}">
##            <label class="col-sm-12 control-label" align="center" style="color:red;">$!{message}</label>
##            <form id="login-form" class="form-horizontal" role="form" method="GET" action="/login/confirm">
##                <div class="form-group" id="d-phone" data-toggle="tooltip">
##                    <label for="phone" class="col-sm-2 control-label">账号</label>
##                    <div class="col-sm-10">
##                        <input type="text" class="form-control" id="phone" name="phone"
##                               placeholder="请输入手机号或登录名">
##                    </div>
##                </div>
##                <div class="form-group" id="d-password" data-toggle="tooltip">
##                    <label for="password" class="col-sm-2 control-label">密码</label>
##                    <div class="col-sm-10">
##                        <input type="password" class="form-control" id="password"
##                               placeholder="请输入密码">
##                    </div>
##                </div>
##                #if (${validateCodeRequire})
##                <div class="form-group" id="d-validateCode" data-toggle="tooltip">
##                    <label for="validateCode" class="col-sm-2 control-label">验证码</label>
##                    <div class="col-sm-6">
##                        <input type="text" class="form-control" id="validateCode" name="validateCode"
##                               placeholder="请输入图片验证码">
##                    </div>
##                    <div class="col-sm-4">
##                        <img id="validateCodeImg" onclick="changeCode();">
##                    </div>
##                </div>
##                #end
##    ##            <div class="form-group">
##    ##                <div class="col-sm-12">
##    ##                    <div class="checkbox">
##    ##                        <label>
##    ##                            <input type="checkbox"> 请记住我
##    ##                        </label>
##    ##                    </div>
##    ##                </div>
##    ##            </div>
##                <div class="form-group">
##                    <div class="col-sm-12">
##                        <button type="submit" class="btn btn-primary login-btn">登录</button>
##                    </div>
##                </div>
##            </form>
##            <div id="dlg"></div>
##        </div>
##    </div>
##</div>
<script src="/js/jquery.form.min.js"></script>
    ##<link rel="stylesheet" href="/css/module.css">
##<style>
##.login-btn {
##    width:100px;
##}
##</style>
<script>
    $(function () {
        function tip(msg, reload) {
            layer.msg(msg,{time:1000},function () {
                if (reload) {
                    window.location.reload();
                }
            });
        };
        
        var loginform = $("#login-form");
        loginform.ajaxForm({
            beforeSerialize:function () {
                var phone = $('#phone').val();
                if (phone === '') {
                    var ctl = $('#d-phone');
                    ctl.addClass('has-error');
                    ctl.attr('title', '不能为空');
                    ctl.tooltip('show');
                    return false;
                }
                var password = $('#password').val();
                if (password === '') {
                    var ctl = $('#d-password');
                    ctl.addClass('has-error');
                    ctl.attr('title', '不能为空');
                    ctl.tooltip('show');
                    return false;
                }
                $('.login-btn').html('登录中...');
            },
            data:{
                'password':function () {
                    var token = $('#token').val();
                    var salt = '';
                    var phone = $('#phone').val();
                    $.ajax({
                        url :'/login/getSalt',
                        data:{'phone': phone},
                        async : false,
                        success:function (data) {
                            salt = data.salt;
                        }
                    });
                    var password = sha512(sha512($('#password').val() + salt) + token);
                    $(this).clearForm();
                    return password;
                }
            },
            success:function (data) {
                if (data.success) {
                    window.location.href = "/";
                } else {
                    tip(data.message, true);
                }
            }
        });
        
        changeCode = function () {
            var date = new Date();
            $('#validateCodeImg').attr('src','/login/validateCode?t='+date.getTime());
        };
        
        changeCode();
    });
</script>
