###set($layout = "/templates/layout/layout.vm")
###set($CSS = ["scripts/css/index.css"])
###set($JS = ["scripts/js/jquery-1.11.3.js"])
#set($page_title = "后台管理系统")

<div id="main-show">
    <div>
        <table class="table col-sm-10">
            <thead>
            <tr>
                <th>id</th>
                <th>loginname</th>
                <th>username</th>
                <th>phone</th>
                <th>telephone</th>
                <th>email</th>
                <th>address</th>
                <th>valid</th>
                <th>createTime</th>
                <th>modifyTime</th>
            </tr>
            </thead>
            <tbody>
                #foreach($item in $page.rows)
                <tr>
                    <td>$!{item.id}</td>
                    <td>$!{item.loginname}</td>
                    <td>$!{item.username}</td>
                    <td>$!{item.phone}</td>
                    <td>$!{item.telephone}</td>
                    <td>$!{item.email}</td>
                    <td>$!{item.address}</td>
                    <td>$!{item.valid}</td>
                    <td>$!{item.createTime}</td>
                    <td>$!{item.modifyTime}</td>
                </tr>
                #end
            </tbody>
        </table>
    </div>

    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>
