#set($JS = ["/js/page/sysRoleinfo/list.js"])
<div class="main-content">
	 <div class="breadcrumbs">
        <ul class="breadcrumb">
            <li class="active"><h4>角色权限列表</h4></li>
        </ul>
    </div>
	<div class="page-content">
        <div class="sc-where-bar">
            <div class="col-sm-11">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" name="vcName" value="$!{query.vcName}">
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="layui-btn layui-btn-normal ml-20" type="submit">查询</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-1 text-right">
                <a href="#" class="layui-btn layui-btn-primary ml-10 btn-add j_new-btn">添加</a>
            </div>
        </div>
        <div id="newUpdateDialogFrame" class="tipDialogFrame"></div>
        <div id="tipDialogFrame" class="tipDialogFrame"></div>

	        <table class="table table-striped table-bordered table-hover dataTable">
	            <thead>
	            <tr>
	                <th>主键id</th>
	                <th>角色id</th>
	                <th>资源id</th>
	                <th>创建时间</th>
	                <th>修改时间</th>
	             
	                <th class="action-cl">操作</th>
	               
	            </tr>
	            </thead>
	            <tbody>
	                #foreach($row in $result.rows)
	                <tr>
	                	<td> $!{row.id} </td>
	                	<td> $!{row.roleId} </td>
	                	<td> $!{row.resourceId} </td>
	                	<td> $!{row.createTime} </td>
	                	<td> $!{row.modifyTime} </td>
		                <td class="action-cl">
	                    	<a href="#" class="j_update-btn" data-id="$!{row.id}">修改</a>
	                    	<span class="arr">|</span>
	                    	<a href="#" class="j_delete-btn" data-id="$!{row.id}">删除</a>
	                    </td>
	                </tr>
	                #end
	            </tbody>
	       	</table>
	        <div class="dataTables_wrapper f-mt2">
	            <ul class="pagination">
	           		#set($pageRequestURL="$!{www}/sysRoleinfo?pageIndex=[PAGINATION_PAGE_INDEX]#if($!{result.queryParameters})&$!{result.queryParameters}#end") #paginationHelper($result $pageRequestURL)
	            </ul>
            </div>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->