
##    <div class="panel panel-primary">
    <ul id="topTab" class="nav nav-tabs">
        <div class="col-sm-2"></div>
        #foreach($item in $topResource)
            <li class="#if (${item.id} == $!{current_top_id}) active #end">
                <a href="#${item.name}" data-toggle="tab">
                    $item.name
                </a>
            </li>
        #end
##        <li class="dropdown pull-right">
##            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
##                下拉 <b class="caret"></b>
##            </a>
##            <ul class="dropdown-menu">
##                <li>
##                    <a href="#">操作</a>
##                </li>
##                <li class="divider"></li>
##            </ul>
##        </li>
    </ul>
    <div id="myTabContent" class="tab-content col-sm-2">
        #foreach($item in $topResource)
        <div class="tab-pane fade #if (${item.id} == $!{current_top_id}) in active #end" id="${item.name}">
            <div class="span2">
                <ul class="nav nav-pills nav-stacked">
                    #foreach($subItem in $item.subResource)
                    <li class="#if (${subItem.id} == $!{current_sub_id}) active #end">
                        <a href="$subItem.url">$subItem.name</a>
                    </li>
                    #end
                </ul>
            </div>
        </div>
        #end
    </div>
#if(${topResource.size()} > 0 && ${topResource[0].id} == $!{current_top_id})
<script>
    $(function () {
        $('#topTab li:eq(0) a').tab('show');
    });
</script>
#end