
    <!--Sidebar-->
    #if($topResource.subResource)
    <nav class="yw_sidebar">
        <ul class="yw-nav">
#foreach($item in $topResource.subResource)
            <li class="yw-nav-item">
                <a href="#if(!$item.subResource) $item.url #else javascript:; #end" #if (${item.id} == $!{current_sub_id}) class="active" #end>$item.name</a>
#if($item.subResource)
<dl class="yw-nav-child">
    #foreach($item2 in $item.subResource)
            <dd><a href="${item2.url}" #if (${item2.id} == $!{current_sub_id}) class="active" #end>$item2.name</a></dd>
    #end
</dl>
#end
            </li>
#end

        </ul>
    </nav>
    #end
    