
##    <div class="panel panel-primary">
    <div id="myTabContent" class="tab-content tab-content-main col-xs-2 col-sm-2">
        #foreach($item in $topResource)
        <div class="tabDiv tab-pane fade #if (${item.id} == $!{current_top_id}) in active #end" id="${item.name}">
            <div class="span2">
                <ul class="nav nav-pills nav-stacked">
                    #foreach($subItem in $item.subResource)
                    <li class="#if (${subItem.id} == $!{current_sub_id}) active #end">
                        <a href="$subItem.url"><span class="glyphicon ${subItem.icon}"></span>$subItem.name</a>
                    </li>
                    #end
                </ul>
            </div>
        </div>
        #end
    </div>
#if(${topResource.size()} > 0 && ${topResource[0].id} == $!{current_top_id})
<script>
    $(function () {
        $('#topTab li:eq(0) a').tab('show');
    });
    var width = $(this).width();
    var height = $(this).height();
    $(window).init(function () {
        var cwidth = $('.tab-content-main').width();
        if (width < 1170) {
            $('.tab-content-main').css('width', width / 6 - 15);
        }
    });
    $(window).resize(function() {
        width = $(this).width();
        height = $(this).height();
        var cwidth = $('.tab-content-main').width();
        if (width < 1170) {
            $('.tab-content-main').css('width', width / 6 - 15);
        } else {
            $('.tab-content-main').css('width', 180);
        }
    });
</script>
#end