<!--Header-->
<div class="yw_header clearfix">
    <div class="yw_header__left fl">
            <a href="/"><img src="/upload/img/logo.png" class="inline-block v-middle logo" alt=""></a>
        <span class="yw_header__left__caption inline-block v-middle ml-10">国际商贸城人脸识别大数据平台</span>
    </div>
    <div class="yw_header__right fr">
        <span class="inline-block v-middle">您好，$!{user.loginname}</span>
        <span class="inline-block v-middle ml-20">$!{dateStr}</span>
    </div>
    <div id="modifyPasswordDialog" class="tipDialogFrame"></div>
    <div id="tipDialog" class="tipDialogFrame"></div>
</div>

<script>
layui.use('layer', function(){
    var layer = layui.layer;
});
layui.use('form', function(){
    var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
});
$(function () {
    $('#modifyPassword').click(function () {
        //Ajax获取
        $.get('/modifyPassword', {}, function(data, textStatus, object){
            layer.open({
                type: 1,
                title: "修改密码",
                content: object.responseText,
                success: function (index) {
                    $('.btn-close').on('click', function () {
                        layer.close(layer.index)
                    })

                }
            });
        });
    });
});
</script>