/*body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6,a {*/
    /*font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;*/
    /*font-size: 13px;*/
/*}*/

body {
    margin: 0;
    min-width: 600px;
    background: rgb(255,255,255);
    position:relative;
    /*z-index: -100;*/
}

a {
    text-decoration: none;
    height: 100%;
    /*color: #333;*/
}

li {
    list-style-type:none;
}

/*.main_bg {*/
    /*position: relative;*/
    /*z-index: -2;*/
/*}*/

.container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.div-ellipse {
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}

.mask {
    width: 100%;
    height: 100%;
    position:absolute;
    left: 0;
    top: 0;
    z-index: 200;
    background: black;
    opacity: 0.3
}

/*.panel a:hover {*/
    /*color: rgb(0,153,188);*/
/*}*/

/* panel */
.panel {
    /*border-style: outset;*/
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 0px;
    border-radius: 5px;
    padding: 5px 15px;
    float: none;
    /*-webkit-box-shadow: -3px 0 2px rgba(200,200,200,0.3),*/
    /*3px 0 2px rgba(200,200,200,0.3),*/
    /*0 -3px 2px rgba(200,200,200,0.3),*/
    /*0 3px 2px rgba(200,200,200,0.3);*/
    /*box-shadow: -3px 0 2px rgba(200,200,200,0.3),*/
    /*3px 0 2px rgba(200,200,200,0.3),*/
    /*0 -3px 2px rgba(200,200,200,0.3),*/
    /*0 3px 2px rgba(200,200,200,0.3);*/
    overflow:hidden;
    position:relative;
    z-index: 10;
    background: white;
}

.panel-blank {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-border-soft {
    border-radius: 10px;
}

.panel-nopadding {
    padding: 0;
}

.panel-heading {
    border-bottom: 1px solid rgb(200,200,200);
    font-size: 18px;
    font-weight: bold;
    color: #555;
    width: 100%;
    overflow: hidden;
}

.panel-float {
    display: block;
    width: 500px;
    position:absolute;
    z-index: 300;
}

.panel-heading a {
    font-size: 18px;
}

.panel ul {
    padding-left:0px;
}

.panel li {
    padding: 0 10px;
    display: block;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 5px;
}

.dataTables_wrapper {
    text-align:right;
}

.sc-where-bar {
    padding-bottom: 40px;
}

.breadcrumb {
    margin-bottom: 5px;
}
.action-cl > a {
    color: #2e6da4;
}
.pop-con-tip {
    text-align:center;
}



/*jquery-ui style*/
.pop-con-tip {
    text-align:center;
    padding-top:30px;
    font-size: 18px;
}

.ui-dialog {
    padding:0px;
}

.ui-dialog-titlebar {
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}