#set($JS = ["/js/page/sysAreaInfo/list.js"])
<div class="yw_buyerContainer">
    <div class="yw_breadcrumb">
        当前位置：<a href="javascript:;">$!{currentPosStr}</a>
    </div>
	<div class="page-content">
        <div class="sc-where-bar">
            <div class="col-sm-11">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" name="vcName" value="$!{query.vcName}">
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="layui-btn layui-btn-normal ml-20" type="submit">查询</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-1 text-right">
                <a href="#" class="layui-btn layui-btn-primary ml-10 btn-add j_new-btn">添加</a>
            </div>
        </div>

        <table class="layui-hide" id="test" lay-filter="demo"></table>
        <script type="text/html" id="barDemo">
			            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        </script>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->