#set($layout = "/layout/layout2.vm")
#set($pageTitle = "title")
#set($JS = ["/js/page/sysAreaInfo/new-update.js", "/js/jquery.form.min.js"])
<div class="col-sm-12">
    <form action="/sysAreaInfo/update"  method="post" class="form-horizontal layui-form" id="newForm_sysAreaInfo">
        <input type="hidden" name="id" value="$!{param.id}" />
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">区域</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="areaName" name="areaName" value="$!{param.areaName}" >
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">行业</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="tradeName" name="tradeName" value="$!{param.tradeName}" >
            </div>
        </div>
        <div class="layui-form-item" align="right">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-primary btn-close">关闭</button>
                <button type="submit" class="layui-btn layui-btn-normal">提交</button>
            </div>
        </div>
    </form>
</div>