###set($layout = "/layout/layout2.vm")
#set($pageTitle = "title")
#set($JS = ["/js/jquery.form.min.js", "/js/page/customerInfo/new-update.js"])
<div class="yw_buyerContainer">
<div class="yw_breadcrumb">
    当前位置：<a href="javascript:;">$!{currentPosStr}</a>
</div>
<div class="col-sm-12">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn layui-btn-normal">通过</button>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn layui-btn-normal">驳回</button>
        </div>
    </div>
</div>
</div>