#set($layout = "/layout/layout2.vm")
#set($pageTitle = "title")
#set($JS = ["/js/jquery.form.min.js", "/js/page/sysOutlets/sysDevice/list.js"])
<div class="col-sm-12">
	<div class="page-content">
        <div class="sc-where-bar">
            <div class="col-sm-10">
##                <form class="form-inline" role="form">
##                    <div class="form-group">
##                        <input type="text" class="form-control" name="seqno" value="$!{query.seqno}" placeholder="设备序列号">
##                    </div>
##                    <div class="form-group">
##                        <div class="col-sm-12">
##                            <button class="btn btn-primary btn-search" type="submit">查询</button>
##                        </div>
##                    </div>
##                </form>
            </div>
            <div class="col-sm-2 text-right">
                <button class="layui-btn layui-btn-primary ml-10 btn-add j_new-dev-btn" data-id="$!{outletsId}">添加</button>
            </div>
        </div>
        <div id="newUpdateDialogFrameDev" class="tipDialogFrame"></div>
        <div id="tipDialogFrameDev" class="tipDialogFrame"></div>

	        <table class="table table-striped table-bordered table-hover dataTable">
	            <thead>
	            <tr>
                    <th>设备序列号</th>
	                <th>门店id</th>
	                <th>创建时间</th>
	             
	                <th class="action-cl">操作</th>
	               
	            </tr>
	            </thead>
	            <tbody>
	                #foreach($row in $result.rows)
	                <tr>
                        <td> $!{row.seqno} </td>
	                	<td> $!{row.outletsId} </td>
	                	<td> $!{row.createTimeStr} </td>
		                <td class="action-cl">
	                    	<a href="#" class="j_update-dev-btn" data-id="$!{row.id}">修改</a>
	                    	<span class="arr">|</span>
	                    	<a href="#" class="j_delete-dev-btn" data-id="$!{row.id}">删除</a>
	                    </td>
	                </tr>
	                #end
	            </tbody>
	       	</table>
			<div id="dialog-confirm" title="删除" class="pop-con-tip" style="display: none;">
				确认删除？
			</div>
	        <div class="dataTables_wrapper f-mt2">
	            <ul class="pagination">
	           		#set($pageRequestURL="$!{www}/sysDevice?pageIndex=[PAGINATION_PAGE_INDEX]#if($!{result.queryParameters})&$!{result.queryParameters}#end") #paginationHelper($result $pageRequestURL)
	            </ul>
            </div>
        <div class="form-group" align="right">
            <div class="col-sm-12">
                <button type="button" class="btn btn-default btn-close">关闭</button>
            </div>
        </div>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->