#set($layout = "/layout/layout2.vm")
#set($pageTitle = "title")
#set($JS = ["/js/jquery.form.min.js", "/js/page/sysOutlets/sysDevice/new-update.js"])
<div class="col-sm-12">
    <form action="/sysOutlets/sysDevice/save"  method="post" class="form-horizontal layui-form" id="newForm_sysDevice">
        <input type="hidden" class="form-control" id="outletsId" name="outletsId" value="$!{outletsId}" >
        <div class="layui-form-item">
            <label for="seqno" class="layui-form-label">设备序列号</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="seqno" name="seqno" value="$!{param.seqno}" >
            </div>
        </div>
        <div class="layui-form-item" align="right">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-primary btn-close">关闭</button>
                <button type="submit" class="layui-btn layui-btn-normal">提交</button>
            </div>
        </div>
    </form>
</div>