#set($JS = ["/js/page/sysResource/list.js","/js/ztree/jquery.ztree.all.min.js"])
#set($CSS = ["/js/ztree/css/metroStyle/metroStyle.css"])
<div class="yw_buyerContainer">
    <div class="yw_breadcrumb">
        当前位置：<a href="javascript:;">$!{currentPosStr}</a>
    </div>
	<div class="page-content">
        <div class="yw_searchBar yw_searchBar-buyer">
            <form class="form-inline ml-20 mr-20" id="buyerForm">
                <div>
                    <div class="yw_formGroups ml-30">
                        <button type="button" class="layui-btn layui-btn-primary ml-10 btn-add j_new-btn">添 加</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="yw_box" style="border: 0px;">
        <ul id="dataTree" class="ztree"></ul>
        </div>
##        <div id="newUpdateDialogFrame" class="tipDialogFrame"></div>
##        <div id="tipDialogFrame" class="tipDialogFrame"></div>
##			<div id="treeview">
##				
##			</div>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->