#set($JS = ["/js/page/sysResource/list.js"])
<div class="main-content">
	 <div class="breadcrumbs">
        <ul class="breadcrumb">
            <li class="active"><h4>系统资源列表</h4></li>
        </ul>
    </div>
	<div class="page-content">
        <div class="sc-where-bar">
            <div class="col-sm-11">
##                <form class="form-inline" role="form">
##                    <div class="form-group">
##                        <input type="text" class="form-control" name="vcName" value="$!{query.vcName}">
##                    </div>
##                    <div class="form-group">
##                        <div class="col-sm-12">
##                            <button class="btn btn-primary btn-search" type="submit">查询</button>
##                        </div>
##                    </div>
##                </form>
            </div>
            <div class="col-sm-1 text-right">
                <a href="#" class="btn btn-success btn-add j_new-btn">添加</a>
            </div>
        </div>
        <div id="newUpdateDialogFrame" class="tipDialogFrame"></div>
        <div id="tipDialogFrame" class="tipDialogFrame"></div>
			<div id="treeview">
				
			</div>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->