#set($layout = "/layout/layout2.vm")
#set($pageTitle = "title")
#set($JS = ["/js/page/sysResource/new-update.js", "/js/jquery.form.min.js"])
<div class="col-sm-12">
    <form action="/sysResource/update"  method="post" class="form-horizontal layui-form" id="updateForm_sysResource">
        <input type="hidden" name="id" value="$!{param.id}" />
        <div class="layui-form-item">
            <label for="parentId" class="layui-form-label">一级菜单</label>
            <div class="layui-input-block">
                <select class="layui-input" name="topId" id="topId" #if ($!{param.parentId} == 0) disabled #end>
                    #foreach($item in $topList)
                        <option value="${item.id}" #if($!{param.parentId}==$item.id) selected #end>${item.name}</option>
                    #end
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="parentId" class="layui-form-label">父资源</label>
            <div class="layui-input-block">
                <select class="layui-input" name="parentId" id="parentId" #if ($!{param.parentId} == 0) disabled #end>
                    #foreach($item in $parentList)
                        <option value="${item.id}" #if($!{param.parentId}==$item.id) selected #end>${item.name}</option>
                    #end
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">资源名称</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="name" name="name" value="$!{param.name}" >
            </div>
        </div>    
        <div class="layui-form-item">
            <label for="url" class="layui-form-label">资源路径</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="url" name="url" value="$!{param.url}" >
            </div>
        </div>    
        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-block">
                <input type="radio" name="type" value="1" title="菜单" #if($!{param.type}==1) checked="" #end>
                <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><span>菜单</span></div>
                <input type="radio" name="type" value="2" title="按钮" #if($!{param.type}==2) checked="" #end>
                <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><span>按钮</span></div>
            </div>
        </div>
        
        <div class="layui-form-item">
            <label for="sort" class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="sort" name="sort" value="$!{param.sort}" >
            </div>
        </div>    
        <div class="layui-form-item">
            <label for="memo" class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="memo" name="memo" value="$!{param.memo}" >
            </div>
        </div>    
##        <div class="layui-form-item">
##            <label for="icon" class="layui-form-label">图标</label>
##            <div class="layui-input-block">
##                <input type="text" class="layui-input" id="icon" name="icon" value="$!{param.icon}" >
##            </div>
##        </div>    
        <div class="layui-form-item" align="right">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-primary btn-close">关闭</button>
                <button type="submit" class="layui-btn layui-btn-normal">提交</button>
            </div>
        </div>
    </form>
</div>