###set($layout = "/layout/layout2.vm")
#set($pageTitle = "title")
#set($JS = ["/js/jquery.form.min.js"])
<div class="yw_buyerContainer">
    <div class="yw_breadcrumb">
        当前位置：<a href="javascript:;">$!{currentPosStr}</a>
    </div>
    <div class="yw_box">
        <form action="/customerInfo/batchnew/save"  method="post" class="layui-form" id="batchnewForm_customerInfo" enctype="multipart/form-data">
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <a href="/customerInfo/download" style="color: blue;">Excel模板下载</a>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
##                <label for="imageUrl" class="layui-form-label">Excel文件</label>
                <input type="file" name="file" id="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn layui-btn-normal">添加</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(function() {
        function tip(msg, reload) {
            layer.msg(msg,{time:1000},function () {
                if (reload) {
                    window.location.reload();
                }
            });
        }

        $("#batchnewForm_customerInfo").ajaxForm({
            beforeSerialize: function () {
            },
            success: function (data) {
                if (data.success) {
                    // layer.close(layer.index);
                    gtip(data.message, false, "/customerInfo");
                    // window.location.href = "/customerInfo";
                } else {
                    gtip(data.message, false, null);
                }
            }
        });
    });
</script>