###set($layout = "/layout/layout2.vm")
#set($pageTitle = "title")
#set($JS = ["/js/jquery.form.min.js"])
<div class="yw_buyerContainer">
    <div class="yw_breadcrumb">
        当前位置：<a href="javascript:;">$!{currentPosStr}</a>
    </div>
    <div class="yw_box">
        <div class="passport-panel">
            <div class="passport-avatar">
                <img src="$!{param.imageUrl}" alt="">
            </div>
            <div class="passport-item clearfix">
                <div class="fl item-inline-block">
                    <p>姓名</p>
                    <p class="fw-bold">$!{param.name}</p>
                </div>
                <div class="fl">
                    <p>手机号码</p>
                    <p class="fw-bold">$!{param.phone}</p>
                </div>
            </div>
            <div class="passport-item clearfix">
                <div class="fl item-inline-block">
                    <p>国籍</p>
                    <p class="fw-bold">$!{param.nationality}</p>
                </div>
                <div class="fl">
                    <p>性别</p>
                    <p class="fw-bold">#if($!{param.gender}==0)男 #elseif($!{param.gender}==1)女#end</p>
                </div>
            </div>
            <div class="passport-item clearfix">
                <div class="fl item-inline-block">
                    <p>省份</p>
                    <p class="fw-bold">$!{param.province}</p>
                </div>
                <div class="fl">
                    <p>地市</p>
                    <p class="fw-bold">$!{param.city}</p>
                </div>
            </div>
            <div class="passport-item">
                <p>单位</p>
                <p class="fw-bold">$!{param.companyName}</p>
            </div>
            <div class="passport-item">
                <p>地址</p>
                <p class="fw-bold">$!{param.address}</p>
            </div>
        </div>
        <!--信用评价-->
        <div class="yw_evaluate mt-20">
            <form  class="yw_evaluate__form layui-form">
                <div >
                    <label class="layui-form-label">信用评价</label>
                    <div class="layui-input-block">
                        <input type="radio" name="evaluateRadio" value="0" title="全部" checked>
                        <input type="radio" name="evaluateRadio" value="1" title="好评">
                        <input type="radio" name="evaluateRadio" value="2" title="中评">
                        <input type="radio" name="evaluateRadio" value="3" title="差评" >
                    </div>
                </div>
            </form>
        </div>
        <ul class="yw_evaluateItem">
        </ul>
    </div>

</div>
<script>
    var map = {};
    map = JSON.parse('$evaluateList');
##    console.log('$evaluateList');
    var htmlStr = '\n' +
            '            <li class="yw_evaluateItem__list">\n' +
            '                <div class="yw_evaluateItem__list__bar">\n' +
            '                    <div class="yw_evaluateMsg">\n' +
            '                        <p>%data1%</p><p>%dataImg%</p>\n' +
            '                    </div>\n' +
            '                    <div class="yw_evaluateID">\n' +
            '                        <p>%data2%</p>\n' +
            '                        <p>%data3%</p>\n' +
            '                    </div>\n' +
            '                </div>\n' +
            '            </li>';
    var htmlStrAllList = [];
    for (var i=0; i<map.length; i++) {
        var htmlStr1 = htmlStr.replace("%data1%", map[i].content);
        htmlStr1 = htmlStr1.replace("%data2%", map[i].evaluateName);
        htmlStr1 = htmlStr1.replace("%data3%", map[i].createDateStr);
        if (map[i].imagesUrl === '') {
            htmlStr1 = htmlStr1.replace("%dataImg%", " ");
        } else {
            var imgStr = "";
            for (var j=0; j<map[i].imagesUrlList.length; j++) {
                imgStr = imgStr + '<img src="' + map[i].imagesUrlList[j] + '" alt="">';
            }
            htmlStr1 = htmlStr1.replace("%dataImg%", imgStr);
        }
        htmlStrAllList.push({'evaType':map[i].evaType, 'data':htmlStr1});
    }
//    console.log(htmlStrAllList);
    var htmlStrAll = '';
    for (var i=0; i<htmlStrAllList.length; i++) {
        htmlStrAll = htmlStrAll + htmlStrAllList[i].data;
    }
    $(".yw_evaluateItem").html(htmlStrAll);
    layui.use(['laydate', 'form'], function() {
        var laydate = layui.laydate, form = layui.form;
        form.on('radio', function (data) {
            var htmlStrList = [];
            htmlStrAll = '';
            if (data.value === '0') {
                for (var i=0; i<htmlStrAllList.length; i++) {
                    htmlStrAll = htmlStrAll + htmlStrAllList[i].data;
                }
            } else if (data.value === '1') {
                for (var i=0; i<htmlStrAllList.length; i++) {
                    if (htmlStrAllList[i].evaType == 2) {
                        htmlStrAll = htmlStrAll + htmlStrAllList[i].data;
                    }
                }
            } else if (data.value === '2') {
                for (var i=0; i<htmlStrAllList.length; i++) {
                    if (htmlStrAllList[i].evaType == 1) {
                        htmlStrAll = htmlStrAll + htmlStrAllList[i].data;
                    }
                }
            } else if (data.value === '3') {
                for (var i=0; i<htmlStrAllList.length; i++) {
                    if (htmlStrAllList[i].evaType == 0) {
                        htmlStrAll = htmlStrAll + htmlStrAllList[i].data;
                    }
                }
            }
            $(".yw_evaluateItem").html(htmlStrAll);
        });
    });
</script>