#set($layout = "/layout/layout2.vm")
#set($pageTitle = "title")
#set($JS = ["/js/jquery.form.min.js", "/js/page/customerInfo/new-update.js"])
<div class="col-sm-12">
    <form action="/customerInfo/update"  method="post" class="form-horizontal" id="updateForm_customerInfo">
        <input type="hidden" name="id" value="$!{param.id}" />
        <div class="form-group">
            <label for="id" class="col-sm-2 control-label">主键d</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="id" name="id" value="$!{param.id}" >
            </div>
        </div>    
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">采购商姓名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" value="$!{param.name}" >
            </div>
        </div>    
        <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">手机号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="phone" name="phone" value="$!{param.phone}" >
            </div>
        </div>    
        <div class="form-group">
            <label for="gender" class="col-sm-2 control-label">性别：0男1女</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="gender" name="gender" value="$!{param.gender}" >
            </div>
        </div>    
        <div class="form-group">
            <label for="nationality" class="col-sm-2 control-label">国籍：1中国</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="nationality" name="nationality" value="$!{param.nationality}" >
            </div>
        </div>    
        <div class="form-group">
            <label for="province" class="col-sm-2 control-label">省份</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="province" name="province" value="$!{param.province}" >
            </div>
        </div>    
        <div class="form-group">
            <label for="city" class="col-sm-2 control-label">地市</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="city" name="city" value="$!{param.city}" >
            </div>
        </div>    
        <div class="form-group">
            <label for="companyid" class="col-sm-2 control-label">单位</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="companyid" name="companyid" value="$!{param.companyid}" >
            </div>
        </div>    
        <div class="form-group">
            <label for="address" class="col-sm-2 control-label">联系地址</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="address" name="address" value="$!{param.address}" >
            </div>
        </div>    
        <div class="form-group">
            <label for="imageUrl" class="col-sm-2 control-label">图像url</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="imageUrl" name="imageUrl" value="$!{param.imageUrl}" >
            </div>
        </div>    
        <div class="form-group">
            <label for="validFlag" class="col-sm-2 control-label">是否有效：0无效1有效</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="validFlag" name="validFlag" value="$!{param.validFlag}" >
            </div>
        </div>    
        <div class="form-group">
            <label for="createTime" class="col-sm-2 control-label">记录创建时间</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="createTime" name="createTime" value="$!{param.createTime}" >
            </div>
        </div>    
        <div class="form-group">
            <label for="qq" class="col-sm-2 control-label">联系qq</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="qq" name="qq" value="$!{param.qq}" >
            </div>
        </div>    
        <div class="form-group">
            <label for="weixin" class="col-sm-2 control-label">微信号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="weixin" name="weixin" value="$!{param.weixin}" >
            </div>
        </div>    
        <div class="form-group">
            <label for="modifyTime" class="col-sm-2 control-label">记录修改时间</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="modifyTime" name="modifyTime" value="$!{param.modifyTime}" >
            </div>
        </div>    
        <div class="form-group">
            <label for="userRowId" class="col-sm-2 control-label">经营户用户id(系统黑名单时为空)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="userRowId" name="userRowId" value="$!{param.userRowId}" >
            </div>
        </div>    
        <div class="form-group">
            <label for="isBlack" class="col-sm-2 control-label">0不是1用户黑名单2系统黑名单</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="isBlack" name="isBlack" value="$!{param.isBlack}" >
            </div>
        </div>    
        <div class="form-group">
            <label for="isVip" class="col-sm-2 control-label">0不是1是</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="isVip" name="isVip" value="$!{param.isVip}" >
            </div>
        </div>    
        <div class="form-group">
            <label for="source" class="col-sm-2 control-label">0信息录入1etl</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="source" name="source" value="$!{param.source}" >
            </div>
        </div>    
        <div class="form-group" align="right">
            <div class="col-sm-12">
                <button type="button" class="btn btn-default btn-close">关闭</button>
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </div>
    </form>
</div>