<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keyou.fdcda.app.dao.ImageInfoMapper">	
	<resultMap id="BaseResultMap" type="com.keyou.fdcda.api.model.ImageInfo">
		<result property="id" jdbcType="DECIMAL" column="ID"/>
		<result property="imageUrl" jdbcType="VARCHAR" column="IMAGE_URL"/>
		<result property="cameraCode" jdbcType="VARCHAR" column="CAMERA_CODE"/>
		<result property="dealFlag" jdbcType="DECIMAL" column="DEAL_FLAG"/>
		<result property="createDate" jdbcType="DATE" column="CREATE_DATE"/>
    </resultMap>
	
	<sql id="columns">
	    <![CDATA[
        ID ,IMAGE_URL ,CAMERA_CODE ,DEAL_FLAG ,CREATE_DATE 
	    ]]>
	</sql>
	
	<insert id="save" parameterType="com.keyou.fdcda.api.model.ImageInfo"  >
		 
	<![CDATA[
		INSERT INTO IMAGE_INFO (
		    ID ,
        	IMAGE_URL ,
        	CAMERA_CODE ,
        	DEAL_FLAG ,
        	CREATE_DATE 
		) VALUES (
		     SEQ_Image_info.nextval ,
        	#{imageUrl,jdbcType=VARCHAR} ,
        	#{cameraCode,jdbcType=VARCHAR} ,
        	#{dealFlag,jdbcType=DECIMAL} ,
        	#{createDate,jdbcType=TIMESTAMP} 
		)
	]]>
	</insert>
	
	 <insert id="insertList"  parameterType="java.util.List"  >  
	 
		INSERT INTO IMAGE_INFO (
		    ID ,
        	IMAGE_URL ,
        	CAMERA_CODE ,
        	DEAL_FLAG ,
        	CREATE_DATE 
		)  
		 <foreach  collection="list"  item="obj" index="index"  separator="union all">  
		  select  
			 GET_SEQ_CURR('SEQ_IMAGE_INFO')   ,
        	#{obj.imageUrl,jdbcType=VARCHAR} ,
        	#{obj.cameraCode,jdbcType=VARCHAR} ,
        	#{obj.dealFlag,jdbcType=DECIMAL} ,
        	#{obj.createDate,jdbcType=TIMESTAMP} 
		  from dual
		 </foreach>  
	    
    </insert> 

	<select id="selectCallPro" statementType="CALLABLE" parameterType="java.util.HashMap" resultType="java.util.Map">  
	    <![CDATA[ 
	    {call prc_send_camera_image () } 
	      ]]>  
	</select> 
	
	<select id="selectCallVisitPro" statementType="CALLABLE" parameterType="java.util.HashMap" resultType="java.util.Map">  
	    <![CDATA[ 
	    {call prc_VISIT_RECORD_INFO () } 
	      ]]>  
	</select> 

	<update id="update" parameterType="com.keyou.fdcda.api.model.ImageInfo">
		UPDATE IMAGE_INFO
		<set>
			<if test="imageUrl != null">
	        IMAGE_URL = #{imageUrl,jdbcType=VARCHAR} ,
	        </if>
			<if test="cameraCode != null">
	        CAMERA_CODE = #{cameraCode,jdbcType=VARCHAR} ,
	        </if>
			<if test="dealFlag != null">
	        DEAL_FLAG = #{dealFlag,jdbcType=DECIMAL} ,
	        </if>
			<if test="createDate != null">
	        CREATE_DATE = #{createDate,jdbcType=DATE} 
	        </if>
	    </set>
		WHERE 
	        ID = #{id,jdbcType=DECIMAL} 
	</update>

	<delete id="deleteById" parameterType="java.lang.Integer">
	<![CDATA[
		DELETE FROM IMAGE_INFO WHERE
        ID = #{id} 
	]]>
	</delete>
    
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	    SELECT <include refid="columns"/> 
	<![CDATA[
		FROM IMAGE_INFO 
		WHERE 
        ID = #{id} 
	]]>
	</select>
	 
	<select id="findPageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    	select count(*) from IMAGE_INFO where 1=1
		<include refid="queryWhere"/>
	</select>
    
	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>  from IMAGE_INFO where 1=1
		<include refid="queryWhere"/> 
	    <![CDATA[ ORDER BY id DESC ]]>
        <![CDATA[ LIMIT ${startRecord},${endRecord} ]]>
	</select>
	
	<sql id="queryWhere">
		<if test="id != null and id.trim() != ''">
		and ID = #{id}
		</if>
		<if test="imageUrl != null and imageUrl.trim() != ''">
		and IMAGE_URL = #{imageUrl}
		</if>
		<if test="cameraCode != null and cameraCode.trim() != ''">
		and CAMERA_CODE = #{cameraCode}
		</if>
		<if test="dealFlag != null and dealFlag.trim() != ''">
		and DEAL_FLAG = #{dealFlag}
		</if>
		<if test="createDateBegin != null and createDateBegin.trim() != ''">
		and CREATE_DATE >= #{createDateBegin}
		</if>
		<if test="createDateEnd != null and createDateEnd.trim() != ''">
		and CREATE_DATE &lt;= #{createDateEnd}
		</if>
	</sql>
</mapper>


