<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keyou.fdcda.app.dao.SysBlacklistApplyMapper">	
	<resultMap id="BaseResultMap" type="com.keyou.fdcda.api.model.SysBlacklistApply">
		<result property="checkRowId" jdbcType="DECIMAL" column="CHECK_ROW_ID"/>
		<result property="userRowId" jdbcType="DECIMAL" column="USER_ROW_ID"/>
		<result property="customerRowId" jdbcType="DECIMAL" column="CUSTOMER_ROW_ID"/>
		<result property="reason" jdbcType="VARCHAR" column="REASON"/>
		<result property="fileUrl" jdbcType="VARCHAR" column="FILE_URL"/>
		<result property="status" jdbcType="DECIMAL" column="STATUS"/>
		<result property="createDate" jdbcType="TIMESTAMP" column="CREATE_DATE"/>
		<result property="modifyDate" jdbcType="TIMESTAMP" column="MODIFY_DATE"/>
    </resultMap>
	
	<sql id="columns">
	    <![CDATA[
        CHECK_ROW_ID ,USER_ROW_ID ,CUSTOMER_ROW_ID ,REASON ,FILE_URL ,STATUS ,CREATE_DATE ,MODIFY_DATE 
	    ]]>
	</sql>
	
	<insert id="save" parameterType="com.keyou.fdcda.api.model.SysBlacklistApply" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
	      SELECT SEQ_SYS_BLACKLIST_APPLY.nextval AS id from dual
	    </selectKey>
	<![CDATA[
		INSERT INTO SYS_BLACKLIST_APPLY (
        	CHECK_ROW_ID ,
        	USER_ROW_ID ,
        	CUSTOMER_ROW_ID ,
        	REASON ,
        	FILE_URL ,
        	STATUS ,
        	CREATE_DATE ,
        	MODIFY_DATE 
		) VALUES (
        	#{checkRowId,jdbcType=DECIMAL} ,
        	#{userRowId,jdbcType=DECIMAL} ,
        	#{customerRowId,jdbcType=DECIMAL} ,
        	#{reason,jdbcType=VARCHAR} ,
        	#{fileUrl,jdbcType=VARCHAR} ,
        	#{status,jdbcType=DECIMAL} ,
        	#{createDate,jdbcType=TIMESTAMP} ,
        	#{modifyDate,jdbcType=TIMESTAMP} 
		)
	]]>
	</insert>

	<update id="update" parameterType="com.keyou.fdcda.api.model.SysBlacklistApply">
		UPDATE SYS_BLACKLIST_APPLY
		<set>
			<if test="userRowId != null">
	        USER_ROW_ID = #{userRowId,jdbcType=DECIMAL} ,
	        </if>
			<if test="customerRowId != null">
	        CUSTOMER_ROW_ID = #{customerRowId,jdbcType=DECIMAL} ,
	        </if>
			<if test="reason != null">
	        REASON = #{reason,jdbcType=VARCHAR} ,
	        </if>
			<if test="fileUrl != null">
	        FILE_URL = #{fileUrl,jdbcType=VARCHAR} ,
	        </if>
			<if test="status != null">
	        STATUS = #{status,jdbcType=DECIMAL} ,
	        </if>
			<if test="createDate != null">
	        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP} ,
	        </if>
			<if test="modifyDate != null">
	        MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP} 
	        </if>
	    </set>
		WHERE 
	        CHECK_ROW_ID = #{checkRowId,jdbcType=DECIMAL} 
	</update>

	<delete id="deleteById" parameterType="java.lang.Long">
	<![CDATA[
		DELETE FROM SYS_BLACKLIST_APPLY WHERE
        CHECK_ROW_ID = #{checkRowId} 
	]]>
	</delete>
    
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	    SELECT <include refid="columns"/> 
	<![CDATA[
		FROM SYS_BLACKLIST_APPLY 
		WHERE 
        CHECK_ROW_ID = #{checkRowId} 
	]]>
	</select>
	 
	<select id="findPageCount" resultType="java.lang.Long" parameterType="java.util.Map">
    	select count(*) from SYS_BLACKLIST_APPLY where 1=1
		<include refid="queryWhere"/>
	</select>
    
	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>, rn from (
			select <include refid="columns"/>, rownum as rn 
			from (
				select <include refid="columns"/> from SYS_BLACKLIST_APPLY ORDER BY ID DESC
			) where 1=1
			<include refid="queryWhere"/> 
			and rownum &lt;= (${startRecord} + ${endRecord})
		) where rn > ${startRecord}
	</select>

	<select id="findAllPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>  from SYS_BLACKLIST_APPLY where 1=1
		<include refid="queryWhere"/>
		<![CDATA[ ORDER BY id DESC ]]>
	</select>
	
	<sql id="queryWhere">
		<if test="checkRowId != null and checkRowId.trim() != ''">
		and CHECK_ROW_ID = #{checkRowId}
		</if>
		<if test="userRowId != null and userRowId.trim() != ''">
		and USER_ROW_ID = #{userRowId}
		</if>
		<if test="customerRowId != null and customerRowId.trim() != ''">
		and CUSTOMER_ROW_ID = #{customerRowId}
		</if>
		<if test="reason != null and reason.trim() != ''">
		and REASON = #{reason}
		</if>
		<if test="fileUrl != null and fileUrl.trim() != ''">
		and FILE_URL = #{fileUrl}
		</if>
		<if test="status != null and status.trim() != ''">
		and STATUS = #{status}
		</if>
		<if test="createDateBegin != null and createDateBegin.trim() != ''">
		and CREATE_DATE >= #{createDateBegin}
		</if>
		<if test="createDateEnd != null and createDateEnd.trim() != ''">
		and CREATE_DATE &lt;= #{createDateEnd}
		</if>
		<if test="modifyDateBegin != null and modifyDateBegin.trim() != ''">
		and MODIFY_DATE >= #{modifyDateBegin}
		</if>
		<if test="modifyDateEnd != null and modifyDateEnd.trim() != ''">
		and MODIFY_DATE &lt;= #{modifyDateEnd}
		</if>
	</sql>
</mapper>


