<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keyou.fdcda.app.dao.SysGoodMapper">	
	<resultMap id="BaseResultMap" type="com.keyou.fdcda.api.model.SysGood">
		<result property="id" jdbcType="DECIMAL" column="ID"/>
		<result property="userId" jdbcType="DECIMAL" column="USER_ID"/>
		<result property="name" jdbcType="VARCHAR" column="NAME"/>
		<result property="price" jdbcType="DECIMAL" column="PRICE"/>
		<result property="goodCategoryId" jdbcType="DECIMAL" column="GOOD_CATEGORY_ID"/>
		<result property="description" jdbcType="VARCHAR" column="DESCRIPTION"/>
		<result property="totalCount" jdbcType="DECIMAL" column="TOTAL_COUNT"/>
		<result property="remainedCount" jdbcType="DECIMAL" column="REMAINED_COUNT"/>
		<result property="upTime" jdbcType="TIMESTAMP" column="UP_TIME"/>
		<result property="downTime" jdbcType="TIMESTAMP" column="DOWN_TIME"/>
		<result property="memo" jdbcType="VARCHAR" column="MEMO"/>
		<result property="createTime" jdbcType="TIMESTAMP" column="CREATE_TIME"/>
		<result property="modifyTime" jdbcType="TIMESTAMP" column="MODIFY_TIME"/>
    </resultMap>
	
	<sql id="columns">
	    <![CDATA[
        ID ,USER_ID ,NAME ,PRICE ,GOOD_CATEGORY_ID ,DESCRIPTION ,TOTAL_COUNT ,REMAINED_COUNT ,UP_TIME ,DOWN_TIME ,MEMO ,CREATE_TIME ,MODIFY_TIME 
	    ]]>
	</sql>
	
	<insert id="save" parameterType="com.keyou.fdcda.api.model.SysGood" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
	      SELECT SEQ_SYS_GOOD.nextval AS id from dual
	    </selectKey>
	<![CDATA[
		INSERT INTO SYS_GOOD (
        	ID ,
        	USER_ID ,
        	NAME ,
        	PRICE ,
        	GOOD_CATEGORY_ID ,
        	DESCRIPTION ,
        	TOTAL_COUNT ,
        	REMAINED_COUNT ,
        	UP_TIME ,
        	DOWN_TIME ,
        	MEMO ,
        	CREATE_TIME ,
        	MODIFY_TIME 
		) VALUES (
        	#{id,jdbcType=DECIMAL} ,
        	#{userId,jdbcType=DECIMAL} ,
        	#{name,jdbcType=VARCHAR} ,
        	#{price,jdbcType=DECIMAL} ,
        	#{goodCategoryId,jdbcType=DECIMAL} ,
        	#{description,jdbcType=VARCHAR} ,
        	#{totalCount,jdbcType=DECIMAL} ,
        	#{remainedCount,jdbcType=DECIMAL} ,
        	#{upTime,jdbcType=TIMESTAMP} ,
        	#{downTime,jdbcType=TIMESTAMP} ,
        	#{memo,jdbcType=VARCHAR} ,
        	#{createTime,jdbcType=TIMESTAMP} ,
        	#{modifyTime,jdbcType=TIMESTAMP} 
		)
	]]>
	</insert>

	<update id="update" parameterType="com.keyou.fdcda.api.model.SysGood">
		UPDATE SYS_GOOD
		<set>
			<if test="userId != null">
	        USER_ID = #{userId,jdbcType=DECIMAL} ,
	        </if>
			<if test="name != null">
	        NAME = #{name,jdbcType=VARCHAR} ,
	        </if>
			<if test="price != null">
	        PRICE = #{price,jdbcType=DECIMAL} ,
	        </if>
			<if test="goodCategoryId != null">
	        GOOD_CATEGORY_ID = #{goodCategoryId,jdbcType=DECIMAL} ,
	        </if>
			<if test="description != null">
	        DESCRIPTION = #{description,jdbcType=VARCHAR} ,
	        </if>
			<if test="totalCount != null">
	        TOTAL_COUNT = #{totalCount,jdbcType=DECIMAL} ,
	        </if>
			<if test="remainedCount != null">
	        REMAINED_COUNT = #{remainedCount,jdbcType=DECIMAL} ,
	        </if>
			<if test="upTime != null">
	        UP_TIME = #{upTime,jdbcType=TIMESTAMP} ,
	        </if>
			<if test="downTime != null">
	        DOWN_TIME = #{downTime,jdbcType=TIMESTAMP} ,
	        </if>
			<if test="memo != null">
	        MEMO = #{memo,jdbcType=VARCHAR} ,
	        </if>
			<if test="createTime != null">
	        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP} ,
	        </if>
			<if test="modifyTime != null">
	        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP} 
	        </if>
	    </set>
		WHERE 
	        ID = #{id,jdbcType=DECIMAL} 
	</update>

	<delete id="deleteById" parameterType="java.lang.Long">
	<![CDATA[
		DELETE FROM SYS_GOOD WHERE
        ID = #{id} 
	]]>
	</delete>
    
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	    SELECT <include refid="columns"/> 
	<![CDATA[
		FROM SYS_GOOD 
		WHERE 
        ID = #{id} 
	]]>
	</select>
	 
	<select id="findPageCount" resultType="java.lang.Long" parameterType="java.util.Map">
    	select count(*) from SYS_GOOD where 1=1
		<include refid="queryWhere"/>
	</select>
    
	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>, rn from (
			select <include refid="columns"/>, rownum as rn 
			from SYS_GOOD where 1=1
			<include refid="queryWhere"/> 
			and rownum &lt;= (${startRecord} + ${endRecord})
			ORDER BY id DESC
		) where rn > ${startRecord}
	</select>

	<select id="findAllPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>  from SYS_GOOD where 1=1
		<include refid="queryWhere"/>
		<![CDATA[ ORDER BY id DESC ]]>
	</select>
	
	<sql id="queryWhere">
		<if test="id != null and id.trim() != ''">
		and ID = #{id}
		</if>
		<if test="userId != null and userId.trim() != ''">
		and USER_ID = #{userId}
		</if>
		<if test="name != null and name.trim() != ''">
		and NAME = #{name}
		</if>
		<if test="price != null and price.trim() != ''">
		and PRICE = #{price}
		</if>
		<if test="goodCategoryId != null and goodCategoryId.trim() != ''">
		and GOOD_CATEGORY_ID = #{goodCategoryId}
		</if>
		<if test="description != null and description.trim() != ''">
		and DESCRIPTION = #{description}
		</if>
		<if test="totalCount != null and totalCount.trim() != ''">
		and TOTAL_COUNT = #{totalCount}
		</if>
		<if test="remainedCount != null and remainedCount.trim() != ''">
		and REMAINED_COUNT = #{remainedCount}
		</if>
		<if test="upTimeBegin != null and upTimeBegin.trim() != ''">
		and UP_TIME >= #{upTimeBegin}
		</if>
		<if test="upTimeEnd != null and upTimeEnd.trim() != ''">
		and UP_TIME &lt;= #{upTimeEnd}
		</if>
		<if test="downTimeBegin != null and downTimeBegin.trim() != ''">
		and DOWN_TIME >= #{downTimeBegin}
		</if>
		<if test="downTimeEnd != null and downTimeEnd.trim() != ''">
		and DOWN_TIME &lt;= #{downTimeEnd}
		</if>
		<if test="memo != null and memo.trim() != ''">
		and MEMO = #{memo}
		</if>
		<if test="createTimeBegin != null and createTimeBegin.trim() != ''">
		and CREATE_TIME >= #{createTimeBegin}
		</if>
		<if test="createTimeEnd != null and createTimeEnd.trim() != ''">
		and CREATE_TIME &lt;= #{createTimeEnd}
		</if>
		<if test="modifyTimeBegin != null and modifyTimeBegin.trim() != ''">
		and MODIFY_TIME >= #{modifyTimeBegin}
		</if>
		<if test="modifyTimeEnd != null and modifyTimeEnd.trim() != ''">
		and MODIFY_TIME &lt;= #{modifyTimeEnd}
		</if>
	</sql>
</mapper>


