<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keyou.fdcda.app.dao.SysResourceMapper">	
	<resultMap id="BaseResultMap" type="com.keyou.fdcda.api.model.SysResource">
		<result property="id" jdbcType="DECIMAL" column="ID"/>
		<result property="parentId" jdbcType="DECIMAL" column="PARENT_ID"/>
		<result property="name" jdbcType="VARCHAR" column="NAME"/>
		<result property="url" jdbcType="VARCHAR" column="URL"/>
		<result property="type" jdbcType="DECIMAL" column="TYPE"/>
		<result property="icon" jdbcType="VARCHAR" column="ICON"/>
		<result property="sort" jdbcType="DECIMAL" column="SORT"/>
		<result property="memo" jdbcType="VARCHAR" column="MEMO"/>
		<result property="createTime" jdbcType="TIMESTAMP" column="CREATE_TIME"/>
		<result property="modifyTime" jdbcType="TIMESTAMP" column="MODIFY_TIME"/>
		<result property="auth" jdbcType="DECIMAL" column="AUTH"/>
    </resultMap>
	
	<sql id="columns">
	    <![CDATA[
        ID ,PARENT_ID ,NAME ,URL ,TYPE ,ICON ,SORT ,MEMO ,CREATE_TIME ,MODIFY_TIME 
	    ]]>
	</sql>
	
	<insert id="save" parameterType="com.keyou.fdcda.api.model.SysResource" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
	      SELECT SEQ_SYS_RESOURCE.nextval AS id from dual
	    </selectKey>
	<![CDATA[
		INSERT INTO SYS_RESOURCE (
        	ID ,
        	PARENT_ID ,
        	NAME ,
        	URL ,
        	TYPE ,
        	ICON ,
        	SORT ,
        	MEMO ,
        	CREATE_TIME ,
        	MODIFY_TIME 
		) VALUES (
        	#{id,jdbcType=DECIMAL} ,
        	#{parentId,jdbcType=DECIMAL} ,
        	#{name,jdbcType=VARCHAR} ,
        	#{url,jdbcType=VARCHAR} ,
        	#{type,jdbcType=DECIMAL} ,
        	#{icon,jdbcType=VARCHAR} ,
        	#{sort,jdbcType=DECIMAL} ,
        	#{memo,jdbcType=VARCHAR} ,
        	#{createTime,jdbcType=TIMESTAMP} ,
        	#{modifyTime,jdbcType=TIMESTAMP} 
		)
	]]>
	</insert>

	<update id="update" parameterType="com.keyou.fdcda.api.model.SysResource">
		UPDATE SYS_RESOURCE
		<set>
			<if test="parentId != null">
	        PARENT_ID = #{parentId,jdbcType=DECIMAL} ,
	        </if>
			<if test="name != null">
	        NAME = #{name,jdbcType=VARCHAR} ,
	        </if>
			<if test="url != null">
	        URL = #{url,jdbcType=VARCHAR} ,
	        </if>
			<if test="type != null">
	        TYPE = #{type,jdbcType=DECIMAL} ,
	        </if>
			<if test="icon != null">
			ICON = #{icon,jdbcType=VARCHAR} ,
			</if>
			<if test="sort != null">
	        SORT = #{sort,jdbcType=DECIMAL} ,
	        </if>
			<if test="memo != null">
	        MEMO = #{memo,jdbcType=VARCHAR} ,
	        </if>
			<if test="createTime != null">
	        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP} ,
	        </if>
			<if test="modifyTime != null">
	        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP} 
	        </if>
	    </set>
		WHERE 
	        ID = #{id,jdbcType=DECIMAL} 
	</update>

	<delete id="deleteById" parameterType="java.lang.Long">
	<![CDATA[
		DELETE FROM SYS_RESOURCE WHERE
        ID = #{id} 
	]]>
	</delete>
    
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	    SELECT <include refid="columns"/> 
	<![CDATA[
		FROM SYS_RESOURCE 
		WHERE 
        ID = #{id} 
	]]>
	</select>
	 
	<select id="findPageCount" resultType="java.lang.Long" parameterType="java.util.Map">
    	select count(*) from SYS_RESOURCE where 1=1
		<include refid="queryWhere"/>
	</select>
    
	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>, rn from (
			select <include refid="columns"/>, rownum as rn 
			from SYS_RESOURCE where 1=1
			<include refid="queryWhere"/> 
			and rownum &lt;= (${startRecord} + ${endRecord})
			ORDER BY id DESC
		) where rn > ${startRecord}
	</select>

	<select id="findAllPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>  from SYS_RESOURCE where 1=1
		<include refid="queryWhere"/>
		ORDER BY
		<if test="sortByParent != null and sortByParent.trim() != ''">
			PARENT_ID ${sortByParent},
		</if>
		SORT
	</select>

	<select id="findAllPageWithAuth" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>, AUTH
		from (
		select a.* ,
		case when a.ID in (select DISTINCT RESOURCE_ID from SYS_ROLEINFO where ROLE_ID = #{roleId})
		then 1
		when (select MIN (RESOURCE_ID) from SYS_ROLEINFO where ROLE_ID = #{roleId}) = 0
		then 1
		else 0
		end AUTH
		from SYS_RESOURCE a
		)
		ORDER BY
		<if test="sortByParent != null and sortByParent.trim() != ''">
			PARENT_ID ${sortByParent},
		</if>
		SORT
	</select>

	<select id="findTopResourceId" resultType="java.lang.Long" parameterType="java.lang.Long">
		select DISTINCT RESOURCE_ID from SYS_ROLEINFO
		where ROLE_ID in (
			select ROLE_ID FROM SYS_USERROLE where USER_ID = #{userId}
		)
	</select>

	<select id="findSubResource" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="columns"/> from SYS_RESOURCE
			where PARENT_ID = #{parentId}
			and ID in (
			select DISTINCT RESOURCE_ID from SYS_ROLEINFO where ROLE_ID in (
				select ROLE_ID FROM SYS_USERROLE where USER_ID = #{userId}
			)
		)
	</select>

	<select id="findByIds" resultMap="BaseResultMap" parameterType="java.util.List">
		select <include refid="columns"/>
		FROM SYS_RESOURCE
		where ID in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
		order by SORT
	</select>
	
	<sql id="queryWhere">
		<if test="id != null and id.trim() != ''">
		and ID = #{id}
		</if>
		<if test="parentId != null and parentId.trim() != ''">
		and PARENT_ID = #{parentId}
		</if>
		<if test="name != null and name.trim() != ''">
		and NAME = #{name}
		</if>
		<if test="url != null and url.trim() != ''">
		and URL = #{url}
		</if>
		<if test="type != null and type.trim() != ''">
		and TYPE = #{type}
		</if>
		<if test="icon != null and icon.trim() != ''">
		and ICON = #{icon}
		</if>
		<if test="sort != null and sort.trim() != ''">
		and SORT = #{sort}
		</if>
		<if test="memo != null and memo.trim() != ''">
		and MEMO = #{memo}
		</if>
		<if test="createTimeBegin != null and createTimeBegin.trim() != ''">
		and CREATE_TIME >= #{createTimeBegin}
		</if>
		<if test="createTimeEnd != null and createTimeEnd.trim() != ''">
		and CREATE_TIME &lt;= #{createTimeEnd}
		</if>
		<if test="modifyTimeBegin != null and modifyTimeBegin.trim() != ''">
		and MODIFY_TIME >= #{modifyTimeBegin}
		</if>
		<if test="modifyTimeEnd != null and modifyTimeEnd.trim() != ''">
		and MODIFY_TIME &lt;= #{modifyTimeEnd}
		</if>
	</sql>
</mapper>


