<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keyou.fdcda.app.dao.SysUserMapper">	
	<resultMap id="BaseResultMap" type="com.keyou.fdcda.api.model.SysUser">
		<result property="id" jdbcType="DECIMAL" column="ID"/>
		<result property="loginname" jdbcType="VARCHAR" column="LOGINNAME"/>
		<result property="loginpwd" jdbcType="VARCHAR" column="LOGINPWD"/>
		<result property="username" jdbcType="VARCHAR" column="USERNAME"/>
		<result property="phone" jdbcType="VARCHAR" column="PHONE"/>
		<result property="telephone" jdbcType="VARCHAR" column="TELEPHONE"/>
		<result property="email" jdbcType="VARCHAR" column="EMAIL"/>
		<result property="address" jdbcType="VARCHAR" column="ADDRESS"/>
		<result property="valid" jdbcType="DECIMAL" column="VALID"/>
		<result property="createTime" jdbcType="TIMESTAMP" column="CREATE_TIME"/>
		<result property="modifyTime" jdbcType="TIMESTAMP" column="MODIFY_TIME"/>
    </resultMap>
	
	<sql id="columns">
	    <![CDATA[
        ID ,LOGINNAME ,LOGINPWD ,USERNAME ,PHONE ,TELEPHONE ,EMAIL ,ADDRESS ,VALID ,CREATE_TIME ,MODIFY_TIME 
	    ]]>
	</sql>
	
	<insert id="save" parameterType="com.keyou.fdcda.api.model.SysUser" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
	      SELECT SEQ_SYS_USER.nextval AS id from dual
	    </selectKey>
	<![CDATA[
		INSERT INTO SYS_USER (
        	ID ,
        	LOGINNAME ,
        	LOGINPWD ,
        	USERNAME ,
        	PHONE ,
        	TELEPHONE ,
        	EMAIL ,
        	ADDRESS ,
        	VALID ,
        	CREATE_TIME ,
        	MODIFY_TIME 
		) VALUES (
        	#{id,jdbcType=DECIMAL} ,
        	#{loginname,jdbcType=VARCHAR} ,
        	#{loginpwd,jdbcType=VARCHAR} ,
        	#{username,jdbcType=VARCHAR} ,
        	#{phone,jdbcType=VARCHAR} ,
        	#{telephone,jdbcType=VARCHAR} ,
        	#{email,jdbcType=VARCHAR} ,
        	#{address,jdbcType=VARCHAR} ,
        	#{valid,jdbcType=DECIMAL} ,
        	#{createTime,jdbcType=TIMESTAMP} ,
        	#{modifyTime,jdbcType=TIMESTAMP} 
		)
	]]>
	</insert>

	<update id="update" parameterType="com.keyou.fdcda.api.model.SysUser">
		UPDATE SYS_USER
		<set>
			<if test="loginname != null">
	        LOGINNAME = #{loginname,jdbcType=VARCHAR} ,
	        </if>
			<if test="loginpwd != null">
	        LOGINPWD = #{loginpwd,jdbcType=VARCHAR} ,
	        </if>
			<if test="username != null">
	        USERNAME = #{username,jdbcType=VARCHAR} ,
	        </if>
			<if test="phone != null">
	        PHONE = #{phone,jdbcType=VARCHAR} ,
	        </if>
			<if test="telephone != null">
	        TELEPHONE = #{telephone,jdbcType=VARCHAR} ,
	        </if>
			<if test="email != null">
	        EMAIL = #{email,jdbcType=VARCHAR} ,
	        </if>
			<if test="address != null">
	        ADDRESS = #{address,jdbcType=VARCHAR} ,
	        </if>
			<if test="valid != null">
	        VALID = #{valid,jdbcType=DECIMAL} ,
	        </if>
			<if test="createTime != null">
	        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP} ,
	        </if>
			<if test="modifyTime != null">
	        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP} 
	        </if>
	    </set>
		WHERE 
	        ID = #{id,jdbcType=DECIMAL} 
	</update>

	<delete id="deleteById" parameterType="java.lang.Long">
	<![CDATA[
		DELETE FROM SYS_USER WHERE
        ID = #{id} 
	]]>
	</delete>
    
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	    SELECT <include refid="columns"/> 
	<![CDATA[
		FROM SYS_USER 
		WHERE 
        ID = #{id} 
	]]>
	</select>
	 
	<select id="findPageCount" resultType="java.lang.Long" parameterType="java.util.Map">
    	select count(*) from SYS_USER where 1=1
		<include refid="queryWhere"/>
	</select>
    
	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>, rn from (
			select <include refid="columns"/>, rownum as rn 
			from SYS_USER where 1=1
			<include refid="queryWhere"/> 
			and rownum &lt;= (${startRecord} + ${endRecord})
			ORDER BY id DESC
		) where rn > ${startRecord}
	</select>

	<select id="findAllPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="columns"/>  from SYS_USER where 1=1
		<include refid="queryWhere"/>
		<![CDATA[ ORDER BY id DESC ]]>
	</select>
	
	<select id="getUserByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="columns" />
		from SYS_USER
		where phone = #{phone,jdbcType=VARCHAR}
		and rownum &lt;=1
	</select>

	<select id="getUserByLoginname" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="columns" />
		from SYS_USER
		where LOGINNAME = #{loginname,jdbcType=VARCHAR}
		and rownum &lt;=1
	</select>
	
	<sql id="queryWhere">
		<if test="id != null and id.trim() != ''">
		and ID = #{id}
		</if>
		<if test="loginname != null and loginname.trim() != ''">
		and LOGINNAME = #{loginname}
		</if>
		<if test="loginpwd != null and loginpwd.trim() != ''">
		and LOGINPWD = #{loginpwd}
		</if>
		<if test="username != null and username.trim() != ''">
		and USERNAME = #{username}
		</if>
		<if test="phone != null and phone.trim() != ''">
		and PHONE = #{phone}
		</if>
		<if test="telephone != null and telephone.trim() != ''">
		and TELEPHONE = #{telephone}
		</if>
		<if test="email != null and email.trim() != ''">
		and EMAIL = #{email}
		</if>
		<if test="address != null and address.trim() != ''">
		and ADDRESS = #{address}
		</if>
		<if test="valid != null and valid.trim() != ''">
		and VALID = #{valid}
		</if>
		<if test="createTimeBegin != null and createTimeBegin.trim() != ''">
		and CREATE_TIME >= #{createTimeBegin}
		</if>
		<if test="createTimeEnd != null and createTimeEnd.trim() != ''">
		and CREATE_TIME &lt;= #{createTimeEnd}
		</if>
		<if test="modifyTimeBegin != null and modifyTimeBegin.trim() != ''">
		and MODIFY_TIME >= #{modifyTimeBegin}
		</if>
		<if test="modifyTimeEnd != null and modifyTimeEnd.trim() != ''">
		and MODIFY_TIME &lt;= #{modifyTimeEnd}
		</if>
	</sql>
</mapper>


