<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keyou.fdcda.app.dao.VisitRecordInfoMapper">	
	<resultMap id="BaseResultMap" type="com.keyou.fdcda.api.model.VisitRecordInfo">
		<result property="visitRowId" jdbcType="DECIMAL" column="VISIT_ROW_ID"/>
		<result property="imageRowId" jdbcType="DECIMAL" column="IMAGE_ROW_ID"/>
		<result property="cameraCode" jdbcType="VARCHAR" column="CAMERA_CODE"/>
		<result property="customerRowId" jdbcType="DECIMAL" column="CUSTOMER_ROW_ID"/>
		<result property="userRowId" jdbcType="DECIMAL" column="USER_ROW_ID"/>
		<result property="name" jdbcType="VARCHAR" column="NAME"/>
		<result property="userName" jdbcType="VARCHAR" column="USER_NAME"/>
		<result property="phone" jdbcType="VARCHAR" column="PHONE"/>
		<result property="similarDegree" jdbcType="DECIMAL" column="SIMILAR_DEGREE"/>
		<result property="createDate" jdbcType="TIMESTAMP" column="CREATE_DATE"/>
		<result property="visitType" jdbcType="DECIMAL" column="VISIT_TYPE"/>
		<result property="imageUrl" jdbcType="VARCHAR" column="IMAGE_URL"/>
		<result property="visitYear" jdbcType="VARCHAR" column="VISIT_YEAR"/>
		<result property="visitMonth" jdbcType="VARCHAR" column="VISIT_MONTH"/>
		<result property="visitDay" jdbcType="TIMESTAMP" column="VISIT_DAY"/>
		<result property="visitCount" jdbcType="INTEGER" column="VISIT_COUNT"/>
    </resultMap>
	
	<sql id="columns">
	    <![CDATA[
        VISIT_ROW_ID ,IMAGE_ROW_ID ,CAMERA_CODE ,CUSTOMER_ROW_ID ,USER_ROW_ID ,NAME ,USER_NAME,PHONE ,SIMILAR_DEGREE ,CREATE_DATE ,VISIT_YEAR,VISIT_MONTH,VISIT_Day,IMAGE_URL,VISIT_TYPE 
	    ]]>
	</sql>
	
	<insert id="save" parameterType="com.keyou.fdcda.api.model.VisitRecordInfo" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
	      SELECT LAST_INSERT_ID() AS IMAGE_ROW_ID
	    </selectKey>
	<![CDATA[
		INSERT INTO VISIT_RECORD_INFO (
        	IMAGE_ROW_ID ,
        	CAMERA_CODE ,
        	CUSTOMER_ROW_ID ,
        	USER_ROW_ID ,
        	NAME ,
        	user_Name,
        	PHONE ,
        	SIMILAR_DEGREE ,
        	CREATE_DATE ,
        	VISIT_YEAR,
        	VISIT_MONTH,
        	VISIT_Day,
        	IMAGE_URL,
        	VISIT_TYPE 
		) VALUES (
        	#{imageRowId,jdbcType=DECIMAL} ,
        	#{cameraCode,jdbcType=VARCHAR} ,
        	#{customerRowId,jdbcType=DECIMAL} ,
        	#{userRowId,jdbcType=DECIMAL} ,
        	#{name,jdbcType=VARCHAR} ,
        	#{userName,jdbcType=VARCHAR} ,
        	#{phone,jdbcType=VARCHAR} ,
        	#{similarDegree,jdbcType=DECIMAL} ,
        	#{createDate,jdbcType=DATE} ,
        	#{visitYear,jdbcType=VARCHAR} ,
        	#{visitMonth,jdbcType=VARCHAR} ,
        	#{visitDay,jdbcType=DATE} ,
        	#{imageUrl,jdbcType=VARCHAR} ,
        	#{visitType,jdbcType=DECIMAL} 
		)
	]]>
	</insert>

	<update id="update" parameterType="com.keyou.fdcda.api.model.VisitRecordInfo">
		UPDATE VISIT_RECORD_INFO
		<set>
			<if test="imageRowId != null">
	        IMAGE_ROW_ID = #{imageRowId,jdbcType=DECIMAL} ,
	        </if>
			<if test="cameraCode != null">
	        CAMERA_CODE = #{cameraCode,jdbcType=VARCHAR} ,
	        </if>
			<if test="customerRowId != null">
	        CUSTOMER_ROW_ID = #{customerRowId,jdbcType=DECIMAL} ,
	        </if>
			<if test="userRowId != null">
	        USER_ROW_ID = #{userRowId,jdbcType=DECIMAL} ,
	        </if>
			<if test="name != null">
	        NAME = #{name,jdbcType=VARCHAR} ,
	        </if>
			<if test="phone != null">
	        PHONE = #{phone,jdbcType=VARCHAR} ,
	        </if>
			<if test="similarDegree != null">
	        SIMILAR_DEGREE = #{similarDegree,jdbcType=DECIMAL} ,
	        </if>
			<if test="createDate != null">
	        CREATE_DATE = #{createDate,jdbcType=DATE} ,
	        </if>
	        <if test="imageUrl != null">
	        IMAGE_URL = #{imageUrl,jdbcType=VARCHAR} ,
	        </if>
			<if test="visitType != null">
	        VISIT_TYPE = #{visitType,jdbcType=DECIMAL} 
	        </if>
	    </set>
		WHERE 
	        VISIT_ROW_ID = #{visitRowId,jdbcType=DECIMAL} 
	</update>

	<delete id="deleteById" parameterType="java.lang.Integer">
	<![CDATA[
		DELETE FROM VISIT_RECORD_INFO WHERE
        VISIT_ROW_ID = #{visitRowId} 
	]]>
	</delete>
    
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	    SELECT <include refid="columns"/> 
	<![CDATA[
		FROM VISIT_RECORD_INFO 
		WHERE 
        VISIT_ROW_ID = #{visitRowId} 
	]]>
	</select>
	 
	<select id="findPageCount" resultType="java.lang.Long" parameterType="java.util.Map">
    	select count(*) from VISIT_RECORD_INFO where 1=1
		<include refid="queryWhere"/>
	</select>
    
	<select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		 select * from (	select <include refid="columns"/> ,rownum rn   from VISIT_RECORD_INFO where 1=1
		<include refid="queryWhere"/> 
	    <![CDATA[ ORDER BY VISIT_ROW_ID DESC ]]>) t where t.rn &lt;= (${startRecord} + ${endRecord}) and t.rn > ${startRecord}
	</select>
	
	<select id="findAllPage" resultMap="BaseResultMap" parameterType="java.util.Map">
	  select * from (	select <include refid="columns"/> ,rownum rn   from VISIT_RECORD_INFO where 1=1
		<include refid="queryWhere"/> 
	    <![CDATA[ ORDER BY VISIT_ROW_ID DESC ]]>) t where t.rn &lt;= ${endRecord} and t.rn > ${startRecord}
	</select>
	
	<select id="selectDayCountReport" resultMap="BaseResultMap" parameterType="java.util.Map">
	 select t.visit_type, count(*) visit_count
	 from visit_record_info t
	 where t.create_date &lt;= to_date(#{endDate} || ' 23:59:59', 'yyyy-MM-dd HH24:mi:ss')
	   and t.create_date >= to_date(#{beginDate}|| ' 00:00:00', 'yyyy-MM-dd HH24:mi:ss')
	  <include refid="queryWhere"/> 
	 group by t.visit_type

	</select>
	
	<select id="selectDayCountMallReport" resultMap="BaseResultMap" parameterType="java.util.Map">
	 select t.area_name name , count(*) visit_count
	 from visit_record_info t
	 where t.create_date &lt;= to_date(#{endDate} || ' 23:59:59', 'yyyy-MM-dd HH24:mi:ss')
	   and t.create_date >= to_date(#{beginDate}|| ' 00:00:00', 'yyyy-MM-dd HH24:mi:ss')
	  <include refid="queryWhere"/> 
	 group by t.area_name

	</select>
	
	<select id="selectDayDetailReport" resultMap="BaseResultMap" parameterType="java.util.Map">
	select t.visit_day, count(*) visit_count
	  from visit_record_info t
	 where t.visit_day &lt;= to_date(#{endDate}, 'yyyy-MM-dd')
	   and t.visit_day >= to_date(#{beginDate}, 'yyyy-MM-dd')
	  <include refid="queryWhere"/> 
	 group by t.visit_day
     order by t.visit_day asc
	</select>
	
	<sql id="queryWhere">
		<if test="visitRowId != null  ">
		and VISIT_ROW_ID = #{visitRowId}
		</if>
		<if test="imageRowId != null  ">
		and IMAGE_ROW_ID = #{imageRowId}
		</if>
		<if test="cameraCode != null and cameraCode.trim() != ''">
		and CAMERA_CODE = #{cameraCode}
		</if>
		<if test="customerRowId != null and customerRowId.trim() != ''">
		and CUSTOMER_ROW_ID = #{customerRowId}
		</if>
		<if test="userRowId != null ">
		and USER_ROW_ID = #{userRowId}
		</if>
		<if test="name != null and name.trim() != ''">
		and NAME = #{name}
		</if>
	    <if test="ids != null  ">
	    and IMAGE_ROW_ID in 
		 <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
		  #{item}  
		 </foreach> 
		</if>
		<if test="phone != null and phone.trim() != ''">
		and PHONE = #{phone}
		</if>
		
		<if test="nameStr != null and nameStr.trim() != ''">
		and NAME like '%' || #{nameStr} || '%'
		</if>
		<if test="phoneStr != null and phoneStr.trim() != ''">
		and PHONE like '%' ||  #{phoneStr}|| '%'
		</if>
		
		<if test="similarDegree != null and similarDegree.trim() != ''">
		and SIMILAR_DEGREE = #{similarDegree}
		</if>
		<if test="createDateBegin != null and createDateBegin.trim() != ''">
		and CREATE_DATE >= #{createDateBegin}
		</if>
		<if test="createDateEnd != null and createDateEnd.trim() != ''">
		and CREATE_DATE &lt;= #{createDateEnd}
		</if>
		<if test="visitType != null ">
		and VISIT_TYPE = #{visitType}
		</if>
		
		<if test="visitTypeblack != null and visitTypeblack.trim() != ''">
		and VISIT_TYPE in (3,4)
		</if>
		
		<if test="createToday != null and createToday.trim() != ''">
		 <![CDATA[ and create_date >= TO_DATE(TO_CHAR(SYSDATE, 'yyyy-mm-dd') || ' 00:00:00', 'yyyy-mm-dd hh24:mi:ss') and create_date <= TO_DATE(TO_CHAR(SYSDATE, 'yyyy-mm-dd') || ' 23:59:59', 'yyyy-mm-dd hh24:mi:ss') ]]>
		</if>
		
		<if test="visitYear != null and visitYear.trim() != ''">
		and VISIT_YEAR = #{visitYear}
		</if>
		<if test="visitMonth != null and visitMonth.trim() != ''">
		and VISIT_MONTH = #{visitMonth}
		</if>
		
		<if test="visitDayBegin != null and visitDayBegin.trim() != ''">
		and visit_Day >=  to_date(#{visitDayBegin}, 'yyyy-MM-dd')
		</if>
		<if test="visitDayEnd != null and visitDayEnd.trim() != ''">
		and visit_Day &lt;=  to_date(#{visitDayEnd}, 'yyyy-MM-dd')
		</if>
		
	</sql>
</mapper>


