###set($layout = "/layout/layout2.vm")
#set($pageTitle = "title")
#set($JS = ["/js/jquery.form.min.js"])
<div class="yw_buyerContainer">
    <div class="yw_breadcrumb">
        当前位置：<a href="javascript:;">$!{currentPosStr}</a>
    </div>
    <div class="yw_visitorInfo">
        <div class="yw_visitorDetails">
            <p class="yw_visitorDetails__thumb">
                <img src="$!{param.imageUrl}" alt="">
            </p>
            <div class="yw_visitorDetails__content">
                <p>采购商名：$!{param.name}</p>
                <p>手机号码：$!{param.phone}</p>
                <p>性别：#if($!{param.gender}==0)男 #elseif($!{param.gender}==1)女#end</p>
                <p>国籍：$!{param.nationality}</p>
                <p>籍贯：$!{param.province}$!{param.city}</p>
                <p>联系地址：$!{param.address}</p>
            </div>
        </div>
        <form class="layui-form" action="/evaluate/save" id="evaluateForm">
            <input type="hidden" value="$!{orderRowId}" name="orderRowId">
            <div class="jc-form-items">
                <div class="layui-form-item">
                    <label class="layui-form-label">评价</label>
                    <div class="layui-input-block">
                        <input type="radio" name="evaType" value="2" title="好评" checked>
                        <input type="radio" name="evaType" value="1" title="中评">
                        <input type="radio" name="evaType" value="0" title="差评" >
                    </div>
                </div>
            </div>
    
            <div class="jc-form-items">
                <div class="layui-form-item layui-form-text">
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" name="content" rows="3" cols="57" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>

            <div class="jc-form-items">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" class="layui-btn layui-btn-normal" >评 价</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<script>
    layui.use(['laydate', 'form'], function(){
        var laydate = layui.laydate;
    });
    $(function(){
        function tip(msg, reload) {
            layer.msg(msg,{time:1000},function () {
                if (reload) {
                    window.location.reload();
                }
            });
        }
        jQuery("#evaluateForm").ajaxForm({
            beforeSerialize: function () {
            },
            success: function (data) {
                if (data.success) {
                    // layer.close(layer.index);
                    tip(data.message, false);
                    window.location.href = "/evaluate";
                } else {
                    tip(data.message, false);
                }
            }
        });
    });
</script>