###set($layout = "/layout/layout2.vm")
#set($pageTitle = "title")
#set($JS = ["/js/jquery.form.min.js", "/js/page/customerInfo/new-update.js"])
<div class="yw_buyerContainer">
<div class="yw_breadcrumb">
    当前位置：<a href="javascript:;">$!{currentPosStr}</a>
</div>
<div class="yw_box">
        <input type="hidden" name="id" value="$!{param.id}" />
        <div class="yw_visitorDetails">
            <p class="yw_visitorDetails__thumb">
                <img src="$!{param.imageUrl}" alt="">
            </p>
            <div class="yw_visitorDetails__content">
                <p>采购商名：$!{param.name}</p>
                <p>手机号码：$!{param.phone}</p>
                <p>性别：#if($!{param.gender}==0)男#elseif($!{param.gender}==1)女#end</p>
                <p>国籍：$!{param.nationality}</p>
                <p>籍贯：$!{param.province}$!{param.city}</p>
                <p>联系地址：$!{param.address}</p>
                <p>单位：$!{param.companyName}</p>
                <p>联系qq：$!{param.qq}</p>
                <p>微信号：$!{param.weixin}</p>
                <p>拉黑时间：$!{param.modifyTimeStr}</p>
                <p>拉黑原因：$!{param.modifyTime}</p>
            </div>
        </div>
##        <!--信用评价-->
##        <div class="yw_evaluate mt-20">
##            <form  class="yw_evaluate__form">
##                <span>信用评价：</span>
##                <label class="radio-inline">
##                    <input type="radio" name="evaluateRadio"  value="0" checked> 全部
##                </label>
##                <label class="radio-inline">
##                    <input type="radio" name="evaluateRadio"  value="1"> 好评
##                </label>
##                <label class="radio-inline">
##                    <input type="radio" name="evaluateRadio" value="2"> 中评
##                </label>
##                <label class="radio-inline">
##                    <input type="radio" name="evaluateRadio" value="3"> 差评
##                </label>
##            </form>
##        </div>
##        <ul class="yw_evaluateItem">
##            <li class="yw_evaluateItem__list">
##                <div class="yw_evaluateItem__list__bar">
##                    <div class="yw_evaluateMsg">
##                        <p>工作热情，人品端正、德行优良、自身修养较高、对待客户诚信;对待工作严谨、处处为公司考虑，
##                            能够虚心接受同事给予的建议并改正;学习进步较快、受到大多数客户的好评。</p>
##                        <p>
##                            <img src="images/thumb3.jpg" alt="">
##                            <img src="images/thumb3.jpg" alt="">
##                        </p>
##                    </div>
##                    <div class="yw_evaluateID">
##                        <p>蔡**</p>
##                        <p>2017.08.21</p>
##                    </div>
##                </div>
##            </li>
##            <li class="yw_evaluateItem__list">
##                <div class="yw_evaluateItem__list__bar">
##                    <div class="yw_evaluateMsg">
##                        工作热情，人品端正、德行优良、自身修养较高、对待客户诚信;对待工作严谨、处处为公司考虑，
##                        能够虚心接受同事给予的建议并改正;学习进步较快、受到大多数客户的好评。
##                    </div>
##                    <div class="yw_evaluateID">
##                        <p>蔡**</p>
##                        <p>2017.08.21</p>
##                    </div>
##                </div>
##            </li>
##            <li class="yw_evaluateItem__list">
##                <div class="yw_evaluateItem__list__bar">
##                    <div class="yw_evaluateMsg">
##                        工作热情，人品端正、德行优良、自身修养较高、对待客户诚信;对待工作严谨、处处为公司考虑，
##                        能够虚心接受同事给予的建议并改正;学习进步较快、受到大多数客户的好评。
##                    </div>
##                    <div class="yw_evaluateID">
##                        <p>蔡**</p>
##                        <p>2017.08.21</p>
##                    </div>
##                </div>
##            </li>
##        </ul>
    
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" onclick="window.location.href='/blackList/user'">返回</button>
        </div>
    </div>
</div>
</div>