###set($layout = "/layout/layout2.vm")
#set($pageTitle = "title")
#set($JS = ["/js/jquery.form.min.js", "/js/page/customerInfo/new-update.js"])
<div class="yw_buyerContainer">
    <div class="yw_breadcrumb">
        当前位置：<a href="javascript:;">$!{currentPosStr}</a>
    </div>
    <div class="yw_box">
        <form action="/customerInfo/save"  method="post" class="layui-form" id="newForm_newBlack">
            <div class="layui-form-item">
                <label for="name" class="layui-form-label">姓名</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" id="name" name="name" value="$!{param.name}" >
                </div>
            </div>
            <div class="layui-form-item">
                <label for="phone" class="layui-form-label">手机号</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" id="phone" name="phone" value="$!{param.phone}" >
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn layui-btn-normal">添加</button>
                </div>
            </div>
        </form>
    </div>
</div>